Repository mynearwallet/my-near-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: rome check, rome format --write

chore: add format check to ci
  .github/workflows/pull-request.yml
  package.json
  packages/frontend/package.json
Due: rome format --write

fix: ui issue in account form id
  packages/frontend/src/components/accounts/AccountFormAccountId.js
Due: rome check, rome format --write

chore: format file
  packages/frontend/src/components/accounts/AccountFormAccountId.js
Due: rome check, rome format --write

fix: debounce not happening
  packages/frontend/src/components/accounts/AccountFormAccountId.js
Due: rome check, rome format --write

fix: ref issue
  packages/frontend/src/components/accounts/AccountFormAccountId.js
  packages/frontend/src/components/send/components/InputAccountId.js
Due: rome check, rome format --write

fix: import issue
  packages/frontend/src/components/send/components/InputAccountId.js
Due: rome check, rome format --write

feat: cherry-pick commits from keypom for linkdrop
  packages/frontend/src/components/accounts/CreateAccount.js
  packages/frontend/src/components/accounts/LinkdropLanding.js
  packages/frontend/src/components/accounts/SetupSeedPhrase.js
  packages/frontend/src/components/accounts/linkdrops/NearDropLanding.js
  packages/frontend/src/components/accounts/linkdrops/TrialDropLanding.js
  packages/frontend/src/redux/actions/account.js
  packages/frontend/src/redux/slices/account/createAccountThunks.js
  packages/frontend/src/redux/slices/recoveryMethods/index.js
  packages/frontend/src/utils/wallet.js
Due: rome check, rome format --write

feat: squash and rebasing of trial account changes into a clean commit
  packages/frontend/src/components/accounts/CreateAccount.js
  packages/frontend/src/components/accounts/LinkdropLanding.js
  packages/frontend/src/components/accounts/SetupSeedPhrase.js
  packages/frontend/src/components/accounts/linkdrops/NearDropLanding.js
  packages/frontend/src/components/accounts/linkdrops/TrialDropLanding.js
  packages/frontend/src/redux/actions/account.js
  packages/frontend/src/redux/slices/account/createAccountThunks.js
  packages/frontend/src/utils/wallet.js
Due: rome check, rome format --write

fix: add in loading indicator for link drop, fix confusing UI on landing at linkdrop
  packages/frontend/package.json
  packages/frontend/src/components/accounts/LinkdropLanding.js
  packages/frontend/src/translations/locales/en/translation.json
Due: rome check, rome format --write

feat: To reverted master: Add new linkdrop standard fixes & trial account offboarding (#120)
  packages/frontend/package.json
  packages/frontend/src/components/accounts/CreateAccount.js
  packages/frontend/src/components/accounts/LinkdropLanding.js
  packages/frontend/src/components/accounts/SetupSeedPhrase.js
  packages/frontend/src/components/accounts/linkdrops/NearDropLanding.js
  packages/frontend/src/components/accounts/linkdrops/TrialDropLanding.js
  packages/frontend/src/redux/actions/account.js
  packages/frontend/src/redux/slices/account/createAccountThunks.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/utils/wallet.js
Due: rome check, rome format --write

refactor: account inputs
  packages/frontend/src/components/accounts/AccountFormAccountId.js
  packages/frontend/src/components/send/components/InputAccountId.js
Due: rome check, rome format --write

fix: linting issues
  packages/frontend/src/components/accounts/AccountFormAccountId.js
Due: rome check, rome format --write

chore: add lint staged and .tool-versions file
  .husky/pre-commit
  .lintstagedrc
  .tool-versions
  package.json
Due: rome format --write

chore: upgrade redux toolkit and implementation
  packages/frontend/package.json
  packages/frontend/src/index.tsx
  packages/frontend/src/redux/middleware/index.ts
  yarn.lock
Due: rome check, rome format --write

chore: upgrade parcel
  .github/workflows/bundle-and-deploy.yml
  .github/workflows/cloudflare-pages-deploy.yml
  .github/workflows/stackhawk.yml
  .gitignore
  package.json
  packages/frontend/.gitignore
  packages/frontend/.parcelrc
  packages/frontend/ci/ParcelBundler.js
  packages/frontend/ci/runBundler.js
  packages/frontend/package.json
  packages/frontend/src/app/index.css
  packages/frontend/src/components/accounts/SetPasswordForm/SetPasswordForm.tsx
  packages/frontend/src/components/profile/Profile.js
  packages/frontend/src/components/profile/Recovery/RecoveryMethod/index.js
  packages/frontend/src/components/profile/Recovery/RecoveryMethod/ui.js
  packages/frontend/src/components/profile/Recovery/index.js
  packages/frontend/src/components/profile/Recovery/lib/format.js
  packages/frontend/src/components/profile/Recovery/lib/recovery-methods.js
  packages/frontend/src/index.html
  packages/frontend/src/redux/reducers/status/index.js
  packages/frontend/tsconfig.json
  yarn.lock
Due: rome check, rome format --write

chore: upgrade jest
  packages/frontend/.babelrc
  packages/frontend/jest.config.js
  packages/frontend/jest.setup.js
  packages/frontend/package.json
  yarn.lock
Due: rome check, rome format --write

chore: add babel-eslint bacl
  packages/frontend/package.json
  yarn.lock
Due: rome format --write

chore: fix ts issue
  packages/frontend/test/translations.test.ts
Due: rome check, rome format --write

chore: update lock file
  yarn.lock
Due: none

chore: add storybook
  .gitignore
  packages/frontend/.babelrc
  packages/frontend/.eslintrc.js
  packages/frontend/.gitignore
  packages/frontend/.storybook/main.js
  packages/frontend/.storybook/preview-body.html
  packages/frontend/.storybook/preview.js
  packages/frontend/package.json
  packages/frontend/src/components/buy/FundingCard.story.tsx
  packages/frontend/src/components/buy/FundingCard.tsx
  packages/frontend/src/components/buy/FundingType.story.tsx
  packages/frontend/src/components/buy/FundingType.tsx
  packages/frontend/src/components/profile/Profile.js
  yarn.lock
Due: rome check, rome format --write

chore: add storybook
  packages/frontend/.eslintrc.js
Due: rome check, rome format --write

chore: add storybook command to root
  package.json
Due: rome format --write

chore: upgrade redux toolkit and implementation (#121)
  packages/frontend/package.json
  packages/frontend/src/index.tsx
  packages/frontend/src/redux/middleware/index.ts
  yarn.lock
Due: rome check, rome format --write

chore: add lint staged and .tool-versions file (#122)
  .husky/pre-commit
  .lintstagedrc
  .tool-versions
  package.json
  yarn.lock
Due: rome format --write

chore: upgrade parcel and jest (#124)
  .github/workflows/bundle-and-deploy.yml
  .github/workflows/cloudflare-pages-deploy.yml
  .github/workflows/stackhawk.yml
  .gitignore
  package.json
  packages/frontend/.babelrc
  packages/frontend/.gitignore
  packages/frontend/.parcelrc
  packages/frontend/ci/ParcelBundler.js
  packages/frontend/ci/runBundler.js
  packages/frontend/jest.config.js
  packages/frontend/jest.setup.js
  packages/frontend/package.json
  packages/frontend/src/app/index.css
  packages/frontend/src/components/accounts/SetPasswordForm/SetPasswordForm.tsx
  packages/frontend/src/components/profile/Profile.js
  packages/frontend/src/components/profile/Recovery/RecoveryMethod/index.js
  packages/frontend/src/components/profile/Recovery/RecoveryMethod/ui.js
  packages/frontend/src/components/profile/Recovery/index.js
  packages/frontend/src/components/profile/Recovery/lib/format.js
  packages/frontend/src/components/profile/Recovery/lib/recovery-methods.js
  packages/frontend/src/index.html
  packages/frontend/src/index.tsx
  packages/frontend/src/redux/middleware/index.ts
  packages/frontend/src/redux/reducers/status/index.js
  packages/frontend/test/translations.test.ts
  packages/frontend/tsconfig.json
  yarn.lock
Due: rome check, rome format --write

fix: linting changes
  packages/frontend/src/components/profile/Recovery/lib/recovery-methods.js
  packages/frontend/src/redux/reducers/status/index.js
Due: rome check, rome format --write

fix: yarn issue
  yarn.lock
Due: none

chore: add storybook (#125)
  .gitignore
  package.json
  packages/frontend/.babelrc
  packages/frontend/.eslintrc.js
  packages/frontend/.gitignore
  packages/frontend/.storybook/main.js
  packages/frontend/.storybook/preview-body.html
  packages/frontend/.storybook/preview.js
  packages/frontend/ci/ParcelBundler.js
  packages/frontend/ci/runBundler.js
  packages/frontend/package.json
  packages/frontend/src/components/accounts/SetPasswordForm/SetPasswordForm.tsx
  packages/frontend/src/components/buy/FundingCard.story.tsx
  packages/frontend/src/components/buy/FundingCard.tsx
  packages/frontend/src/components/buy/FundingType.story.tsx
  packages/frontend/src/components/buy/FundingType.tsx
  packages/frontend/src/components/profile/Recovery/RecoveryMethod/index.js
  packages/frontend/src/components/profile/Recovery/RecoveryMethod/ui.js
  packages/frontend/src/components/profile/Recovery/index.js
  packages/frontend/src/components/profile/Recovery/lib/format.js
  packages/frontend/src/components/profile/Recovery/lib/recovery-methods.js
  packages/frontend/src/redux/reducers/status/index.js
  packages/frontend/test/translations.test.ts
  packages/frontend/tsconfig.json
  yarn.lock
Due: rome check, rome format --write

refactor: inputs
  packages/frontend/src/components/SafeTranslate.tsx
  packages/frontend/src/components/accounts/AccountFormAccountId.js
  packages/frontend/src/components/accounts/AccountFormAccountId.story.tsx
  packages/frontend/src/components/accounts/AccountFormAccountId.tsx
  packages/frontend/src/components/accounts/CreateAccount.js
  packages/frontend/src/components/accounts/ledger/LedgerSignInModal.js
  packages/frontend/src/components/accounts/ledger/SignInLedgerViews/EnterAccountId.js
  packages/frontend/src/components/common/LocalAlertBox.story.tsx
  packages/frontend/src/components/common/LocalAlertBox.tsx
  packages/frontend/src/components/common/types.ts
  packages/frontend/src/components/send/components/InputAccountId.js
  packages/frontend/src/components/send/components/InputAccountId.story.tsx
  packages/frontend/src/components/send/components/InputAccountId.tsx
  packages/frontend/src/components/send/components/ReceiverInputWithLabel.js
Due: rome check, rome format --write

chore: rename function
  packages/frontend/src/components/accounts/AccountFormAccountId.tsx
Due: rome check, rome format --write

fix: import issue
  packages/frontend/src/components/accounts/SetupSeedPhraseVerify.js
Due: rome check, rome format --write

feat: add bridged and native token functionality
  package.json
  packages/frontend/.storybook/preview.js
  packages/frontend/.storybook/state.js
  packages/frontend/jest.config.js
  packages/frontend/jest.setup.js
  packages/frontend/src/components/common/FormButton.tsx
  packages/frontend/src/components/common/balance/Balance.js
  packages/frontend/src/components/common/balance/Balance.tsx
  packages/frontend/src/components/common/balance/FiatBalance.tsx
  packages/frontend/src/components/send/SendConfirmModal.js
  packages/frontend/src/components/send/SendContainerV2.js
  packages/frontend/src/components/send/components/views/EnterAmount.story.tsx
  packages/frontend/src/components/send/components/views/EnterAmount.tsx
  packages/frontend/src/redux/slices/swap/index.js
  packages/frontend/src/redux/slices/tokens/index.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/utils/token.test.ts
  packages/frontend/src/utils/token.ts
  packages/frontend/src/wallet.d.ts
  packages/frontend/tsconfig.json
  yarn.lock
Due: rome check, rome format --write

refactor: use a map pattern to store token meta instead of if / return
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/utils/token.ts
Due: rome check, rome format --write

chore: fix formatting issues
  .lintstagedrc
  packages/frontend/.prettierrc
  packages/frontend/src/components/SafeTranslate.tsx
  packages/frontend/src/components/accounts/AccountFormAccountId.tsx
  packages/frontend/src/components/accounts/SetupSeedPhraseVerify.js
  packages/frontend/src/components/buy/FundingCard.tsx
  packages/frontend/src/components/buy/FundingType.tsx
  packages/frontend/src/components/common/LocalAlertBox.tsx
  packages/frontend/src/components/common/types.ts
  packages/frontend/src/components/send/components/InputAccountId.tsx
Due: rome check, rome format --write

chore: pr reverts
  packages/frontend/src/components/send/components/views/EnterAmount.tsx
  packages/frontend/src/redux/slices/swap/index.js
  packages/frontend/src/redux/slices/tokens/index.js
  packages/frontend/src/utils/token.test.ts
  packages/frontend/src/utils/token.ts
Due: rome check, rome format --write

chore: remove unused github action workflow
  .github/workflows/bundle-and-deploy.yml
Due: none

fix: import issue
  packages/frontend/src/redux/slices/swap/index.js
  packages/frontend/src/redux/slices/tokens/index.js
Due: rome check, rome format --write

chore: pr reverts
  packages/frontend/.storybook/preview.js
  packages/frontend/src/components/send/components/views/EnterAmount.tsx
  packages/frontend/src/utils/token.test.ts
  packages/frontend/src/utils/token.ts
  packages/frontend/src/wallet.d.ts
Due: rome check, rome format --write

Path conditions:
  rome check: any of: *.{js,jsx,ts,tsx}
  rome format --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json, md})
