Repository mynearwallet/my-near-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat: remove nearblocks kitwallet
  packages/frontend/src/services/NonFungibleTokens.js
  packages/frontend/src/services/coreIndexer/indexers/NearblocksV1Indexer.ts
  packages/frontend/src/services/coreIndexer/indexers/NearblocksV3Indexer.ts
  packages/frontend/src/services/indexer.js
  packages/frontend/src/services/indexer/api.ts
  packages/frontend/src/services/indexer/cached-api.js
  packages/frontend/src/utils/explorer-api.js
Due: prettier --write, eslint

fix: remove kitwallet env
  packages/frontend/src/config/configFromEnvironment.ts
  packages/frontend/src/config/environmentDefaults/development.ts
  packages/frontend/src/config/environmentDefaults/mainnet.ts
  packages/frontend/src/config/environmentDefaults/mainnet_STAGING.ts
  packages/frontend/src/config/environmentDefaults/testnet.ts
  packages/frontend/src/config/environmentDefaults/testnet_STAGING.ts
Due: prettier --write

remove kitwallet (#311)
  packages/frontend/src/config/configFromEnvironment.ts
  packages/frontend/src/config/environmentDefaults/development.ts
  packages/frontend/src/config/environmentDefaults/mainnet.ts
  packages/frontend/src/config/environmentDefaults/mainnet_STAGING.ts
  packages/frontend/src/config/environmentDefaults/testnet.ts
  packages/frontend/src/config/environmentDefaults/testnet_STAGING.ts
  packages/frontend/src/services/NonFungibleTokens.js
  packages/frontend/src/services/coreIndexer/indexers/NearblocksV1Indexer.ts
  packages/frontend/src/services/coreIndexer/indexers/NearblocksV3Indexer.ts
  packages/frontend/src/services/indexer.js
  packages/frontend/src/services/indexer/api.ts
  packages/frontend/src/services/indexer/cached-api.js
  packages/frontend/src/utils/explorer-api.js
Due: prettier --write, eslint

fix: transaction history archival cache
  packages/frontend/src/pages/TransactionHistory/index.tsx
  packages/frontend/src/redux/slices/transactionHistory/index.ts
Due: prettier --write

fix: update archival rpc to fastnear
  packages/frontend/src/config/environmentDefaults/development.ts
  packages/frontend/src/config/environmentDefaults/mainnet.ts
  packages/frontend/src/config/environmentDefaults/mainnet_STAGING.ts
  packages/frontend/src/config/environmentDefaults/testnet.ts
  packages/frontend/src/config/environmentDefaults/testnet_STAGING.ts
  packages/frontend/src/redux/slices/transactionHistory/index.ts
Due: prettier --write

feat: blacklisted nfts
  packages/frontend/src/redux/slices/nft/index.js
  packages/frontend/src/redux/slices/nft/nft_blacklisted.static.ts
Due: prettier --write, eslint

fix: revert tag payload on sign message for non ledger
  packages/frontend/src/redux/slices/signMessage/index.js
  packages/frontend/src/utils/signMessage.ts
  packages/frontend/src/utils/wallet.ts
Due: prettier --write, eslint

fix: revert tag payload on sign message for non ledger (#314)
  packages/frontend/src/redux/slices/signMessage/index.js
  packages/frontend/src/utils/signMessage.ts
  packages/frontend/src/utils/wallet.ts
Due: prettier --write, eslint

feat: added prototools for version management
  .prototools
Due: none

feat: add Ledger hardware wallet support to signDelegateAction
  packages/frontend/src/components/sign-delegate-action/SignDelegateAction.js
  packages/frontend/src/routes/SignDelegateActionWrapper.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/utils/wallet/delegateAction.ts
Due: prettier --write, eslint

fix: address audit findings in signDelegateAction
  packages/frontend/src/utils/wallet/delegateAction.ts
Due: prettier --write

feat: add NEP-366 signDelegateAction support for meta-transactions
  CLAUDE.md
  packages/e2e-tests/package.json
  packages/e2e-tests/playwright.config.js
  packages/e2e-tests/signDelegateAction/models/SignDelegateAction.js
  packages/e2e-tests/signDelegateAction/signDelegateAction.spec.js
  packages/frontend/src/app/App.js
  packages/frontend/src/components/sign-delegate-action/SignDelegateAction.js
  packages/frontend/src/components/sign-delegate-action/SignDelegateActionInvalid.js
  packages/frontend/src/components/sign-delegate-action/index.js
  packages/frontend/src/routes/SignDelegateActionWrapper.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/utils/wallet/delegateAction.ts
  yarn.lock
Due: prettier --write, eslint

chore: run yarn
  yarn.lock
Due: none

fix: redirect back to dApp after near connector actions instead of stay on homepage for new account
  packages/frontend/src/app/App.js
  packages/frontend/src/components/accounts/RecoverAccountPrivateKey.js
  packages/frontend/src/components/accounts/RecoverAccountSeedPhrase.js
  packages/frontend/src/components/sign-message/SignMessage.js
  packages/frontend/src/components/verify-owner/VerifyOwner.js
  packages/frontend/src/utils/storage/session_storage_key.constant.ts
Due: prettier --write, eslint

fix: remove duplicate sessionstorage for redirect
  packages/frontend/src/app/App.js
  packages/frontend/src/components/accounts/RecoverAccountPrivateKey.js
  packages/frontend/src/components/accounts/RecoverAccountSeedPhrase.js
  packages/frontend/src/utils/storage/session_storage_key.constant.ts
Due: prettier --write, eslint

fix: allow create wallet when obsolete helper api error
  packages/frontend/src/redux/slices/account/createAccountThunks.js
Due: prettier --write, eslint

fix: dapps connect create account should redirect back to connect flow
  packages/frontend/src/routes/SetupPassphraseNewAccountWrapper.js
  packages/frontend/src/utils/wallet.ts
Due: prettier --write, eslint

feat: security changes, redirect modal etc.
  packages/frontend/src/app/App.js
  packages/frontend/src/components/accounts/LinkdropLanding.js
  packages/frontend/src/components/accounts/auto_import/AutoImportWrapper.js
  packages/frontend/src/components/common/ExternalRedirectModal.js
  packages/frontend/src/components/login/v2/SelectAccountLoginWrapper.js
  packages/frontend/src/index.html
  packages/frontend/src/redux/actions/account.js
  packages/frontend/src/redux/createReducers/combinedMainReducers.js
  packages/frontend/src/redux/slices/externalRedirect/index.js
  packages/frontend/src/routes/LoginWrapper.js
  packages/frontend/src/routes/SignMessageWrapper.js
  packages/frontend/src/routes/SignWrapper.js
  packages/frontend/src/routes/VerifyOwnerWrapper.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/utils/helper-api.ts
Due: prettier --write, eslint

chore: add npm to prototools
  .prototools
Due: none

chore: some formatting in translations
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
Due: prettier --write

chore: minor updates for imports etc.
  packages/frontend/src/components/sign/SignTransferMultipleAccounts.js
  packages/frontend/src/routes/LoginWrapper.js
  packages/frontend/src/routes/SignWrapper.js
Due: prettier --write, eslint

chore: trying to fix gleap
  packages/frontend/package.json
  packages/frontend/src/index.html
  packages/frontend/src/services/gleap/gleap.service.ts
  packages/frontend/tsconfig.json
  yarn.lock
Due: prettier --write

fix: gleap popup working on dev
  glob-list.caches.clean
  glob-list.clean
  package.json
  packages/frontend/src/index.html
  packages/frontend/src/services/gleap/gleap.service.ts
Due: prettier --write

chore: remove git hook
  .husky/pre-push
Due: none

feat: added sunset popup
  packages/frontend/src/app/App.js
  packages/frontend/src/app/SunsetNotice.tsx
Due: prettier --write, eslint

feat: add in link for sunset learn more
  packages/frontend/src/app/SunsetNotice.tsx
Due: prettier --write

fix: security safe translate sanitize
  packages/frontend/src/components/login/v2/SelectAccountLogin.js
  packages/frontend/src/components/staking/liquid-staking/SuccessAction.tsx
  packages/frontend/src/components/staking/liquid-staking/UnstakeForm.tsx
  packages/frontend/src/components/verify-owner/VerifyOwner.js
Due: prettier --write, eslint

fix: type error
  packages/frontend/src/components/staking/liquid-staking/SuccessAction.tsx
  packages/frontend/src/components/staking/liquid-staking/UnstakeForm.tsx
Due: prettier --write

fix(send): prevent Send page effect cleanup crash
  packages/frontend/src/components/send/SendContainerV2.js
  packages/frontend/src/components/send/SendContainerV2.test.js
Due: prettier --write, eslint

feat(sign-delegate-action): add NEP-366 delegate action signing
  packages/e2e-tests/package.json
  packages/e2e-tests/playwright.config.js
  packages/e2e-tests/signDelegateAction/models/SignDelegateAction.js
  packages/e2e-tests/signDelegateAction/signDelegateAction.spec.js
  packages/frontend/package.json
  packages/frontend/src/app/App.js
  packages/frontend/src/components/sign-delegate-action/SignDelegateAction.js
  packages/frontend/src/components/sign-delegate-action/SignDelegateActionInvalid.js
  packages/frontend/src/components/sign-delegate-action/index.js
  packages/frontend/src/routes/SignDelegateActionWrapper.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/utils/wallet/delegateAction.test.js
  packages/frontend/src/utils/wallet/delegateAction.ts
Due: prettier --write, eslint

refactor(sign-delegate-action): route callbacks through the external redirect modal
  packages/frontend/src/routes/SignDelegateActionWrapper.js
Due: prettier --write, eslint

feat: add account export selection
  packages/frontend/src/app/App.js
  packages/frontend/src/components/account-export/AccountExportAccountList.jsx
  packages/frontend/src/components/account-export/AccountExportSelect.jsx
  packages/frontend/src/components/account-export/accountExportAccounts.js
  packages/frontend/src/components/svg/ExportAccountSelectedIcon.js
  packages/frontend/src/components/svg/ExportAccountUnavailableIcon.js
  packages/frontend/src/components/wallet/AccountExportBanner.jsx
  packages/frontend/src/components/wallet/Wallet.js
Due: prettier --write, eslint

feat: added cloudflare analytics
  packages/frontend/src/index.html
Due: none

feat: improve analytics script to not report on sensitve routes
  packages/frontend/src/index.html
Due: none

fix: make use-immer compatible with Parcel
  patches/use-immer+0.7.0.patch
Due: none

chore: add Meteor Connect SDK compatibility
  package.json
  packages/frontend/package.json
  patches/@meteorwallet+sdk+3.0.1.patch
  yarn.lock
Due: prettier --write

feat: open Meteor Connect for selected accounts
  packages/frontend/src/components/account-export/AccountExportSelect.jsx
  packages/frontend/src/components/account-export/accountExportAccounts.js
  packages/frontend/src/services/meteorConnect.js
Due: prettier --write, eslint

fix: refine account export banner styling
  packages/frontend/src/components/wallet/AccountExportBanner.jsx
Due: prettier --write, eslint

fix: patch sdk and nanoid
  patches/@meteorwallet+sdk++nanoid+5.1.5.patch
  patches/nanoid+5.1.16.patch
Due: none

fix: ensure bridge works
  packages/frontend/src/services/meteorConnect.js
Due: prettier --write, eslint

Path conditions:
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{ts,tsx})) or (any of: *.{json, md})
  eslint: any of: *.{js,jsx}
