Repository mynearwallet/my-near-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat: add account export success page
  packages/frontend/src/app/App.js
  packages/frontend/src/components/account-export/AccountExportSelect.jsx
  packages/frontend/src/components/account-export/AccountExportSuccess.jsx
  packages/frontend/src/components/account-export/accountExportSuccessState.js
Due: prettier --write, eslint

feat: add manual account export options
  packages/frontend/src/app/App.js
  packages/frontend/src/components/account-export/AccountExportManual.jsx
  packages/frontend/src/components/account-export/AccountExportMethod.jsx
  packages/frontend/src/components/account-export/AccountExportSelect.jsx
  packages/frontend/src/components/account-export/accountExportAccounts.js
  packages/frontend/src/components/account-export/accountExportManual.utils.js
  packages/frontend/src/components/account-export/accountExportManual.utils.test.js
  packages/frontend/src/components/svg/MeteorConnectIcon.jsx
  packages/frontend/src/components/svg/Vector.svg
Due: prettier --write, eslint

feat: add exported account removal flow
  packages/frontend/src/app/App.js
  packages/frontend/src/components/account-export/AccountExportMethod.jsx
  packages/frontend/src/components/account-export/AccountExportRemove.jsx
  packages/frontend/src/components/account-export/AccountExportSelectedAccountList.jsx
  packages/frontend/src/components/account-export/AccountExportSuccess.jsx
  packages/frontend/src/components/svg/ExportAccountRemovalWarningIcon.js
Due: prettier --write, eslint

fix: return to wallet after removing final account
  packages/frontend/src/components/account-export/AccountExportRemove.jsx
Due: prettier --write, eslint

chore: add staging branch to staging workflow
  .github/workflows/deploy-staging.yml
Due: none

fix: patch sdk and nanoid
  patches/@meteorwallet+sdk++nanoid+5.1.5.patch
  patches/nanoid+5.1.16.patch
Due: none

feat: add account export selection
  packages/frontend/src/app/App.js
  packages/frontend/src/components/account-export/AccountExportAccountList.jsx
  packages/frontend/src/components/account-export/AccountExportSelect.jsx
  packages/frontend/src/components/account-export/accountExportAccounts.js
  packages/frontend/src/components/svg/ExportAccountSelectedIcon.js
  packages/frontend/src/components/svg/ExportAccountUnavailableIcon.js
  packages/frontend/src/components/wallet/AccountExportBanner.jsx
  packages/frontend/src/components/wallet/Wallet.js
Due: prettier --write, eslint

fix: ensure bridge works
  packages/frontend/src/services/meteorConnect.js
Due: prettier --write, eslint

chore: add Meteor Connect SDK compatibility
  package.json
  packages/frontend/package.json
  patches/@meteorwallet+sdk+3.0.1.patch
  yarn.lock
Due: prettier --write

fix: make use-immer compatible with Parcel
  patches/use-immer+0.7.0.patch
Due: none

fix: refine account export banner styling
  packages/frontend/src/components/wallet/AccountExportBanner.jsx
Due: prettier --write, eslint

feat: open Meteor Connect for selected accounts
  packages/frontend/src/components/account-export/AccountExportSelect.jsx
  packages/frontend/src/components/account-export/accountExportAccounts.js
  packages/frontend/src/services/meteorConnect.js
Due: prettier --write, eslint

chore: update node version
  .github/workflows/cloudflare-pages-deploy.yml
Due: none

fix: deploy staging branch
  packages/frontend/src/config/configFromEnvironment.ts
  packages/frontend/src/services/meteorConnect.js
Due: prettier --write, eslint

feat: adding in posthog for analytics
  packages/frontend/package.json
  packages/frontend/src/app/App.js
  packages/frontend/src/config/configFromEnvironment.ts
  packages/frontend/src/mixpanel/index.js
  packages/frontend/src/posthog/index.js
  yarn.lock
Due: prettier --write, eslint

feat: committing changes half way through new key plan
  packages/frontend/package.json
  packages/frontend/src/app/App.js
  packages/frontend/src/components/account-export/AccountExportAccountList.jsx
  packages/frontend/src/components/account-export/AccountExportMethod.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyProgress.jsx
  packages/frontend/src/components/account-export/accountExportAccounts.js
  packages/frontend/src/components/account-export/accountExportAccounts.test.js
  packages/frontend/src/components/wallet/AccountExportBanner.jsx
  packages/frontend/src/services/meteorConnect.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/utils/wallet.ts
  patches/@meteorwallet+sdk+3.1.0.patch
Due: prettier --write, eslint

feat: finished initial plan for new key transfer
  packages/frontend/src/services/meteorConnect.js
  packages/frontend/src/services/meteorConnectNewKeyTransferJournal.test.js
  packages/frontend/src/translations/locales/en/translation.json
Due: prettier --write, eslint

feat: added new pages for new key transfer
  packages/frontend/src/app/App.js
  packages/frontend/src/components/account-export/AccountExportNewKeyActivated.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyActivation.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyReady.jsx
  packages/frontend/src/components/common/loader/LoadingSpinner.tsx
Due: prettier --write, eslint

feat: refine new key activation progress
  packages/frontend/src/components/account-export/AccountExportNewKeyActivated.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyActivation.jsx
Due: prettier --write, eslint

feat: initial implementation of SDK for account transfer
  packages/frontend/package.json
  packages/frontend/src/app/App.js
  packages/frontend/src/components/account-export/AccountExportAccountList.jsx
  packages/frontend/src/components/account-export/AccountExportMethod.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyActivated.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyActivation.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyProgress.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyReady.jsx
  packages/frontend/src/components/account-export/accountExportAccounts.js
  packages/frontend/src/components/account-export/accountExportAccounts.test.js
  packages/frontend/src/components/account-export/useNewKeyTransfer.js
  packages/frontend/src/components/wallet/AccountExportBanner.jsx
  packages/frontend/src/services/meteorConnect.js
  packages/frontend/src/services/meteorConnectAddKeyChain.js
  packages/frontend/src/services/meteorConnectNewKeyTransferJournal.test.js
  packages/frontend/src/services/newKeyTransferState.js
  packages/frontend/src/services/newKeyTransferState.test.js
  packages/frontend/src/translations/locales/en/translation.json
  patches/@meteorwallet+sdk+3.2.0.patch
  yarn.lock
Due: prettier --write, eslint

feat: implement our review fixes for bridge, sdk and consumers
  packages/frontend/src/app/App.js
  packages/frontend/src/components/account-export/AccountExportAccountList.jsx
  packages/frontend/src/components/account-export/AccountExportManual.jsx
  packages/frontend/src/components/account-export/AccountExportMethod.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyActivation.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyReady.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyRecovery.jsx
  packages/frontend/src/components/account-export/AccountExportRemove.jsx
  packages/frontend/src/components/account-export/AccountExportSelect.jsx
  packages/frontend/src/components/account-export/AccountExportSuccess.jsx
  packages/frontend/src/components/wallet/AccountExportBanner.jsx
  packages/frontend/src/services/meteorConnect.js
  packages/frontend/src/services/meteorConnectAddKeyChain.js
  packages/frontend/src/services/newKeyTransferState.js
  packages/frontend/src/services/newKeyTransferState.test.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/tr/translation.json
  packages/frontend/src/translations/locales/ua/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
Due: prettier --write, eslint

chore: remove patch and update meteor SDK module
  packages/frontend/package.json
  patches/@meteorwallet+sdk+3.2.0.patch
  yarn.lock
Due: prettier --write

chore: add in posthog token and replace distinct id from posthog
  packages/frontend/src/config/environmentDefaults/mainnet.ts
  packages/frontend/src/config/environmentDefaults/mainnet_STAGING.ts
  packages/frontend/src/config/environmentDefaults/testnet.ts
  packages/frontend/src/config/environmentDefaults/testnet_STAGING.ts
  packages/frontend/src/mixpanel/index.js
Due: prettier --write, eslint

feat: added detailed tracking for migration
  packages/frontend/src/components/account-export/AccountExportManual.jsx
  packages/frontend/src/components/account-export/AccountExportMethod.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyActivated.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyActivation.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyReady.jsx
  packages/frontend/src/components/account-export/AccountExportRemove.jsx
  packages/frontend/src/components/account-export/AccountExportSelect.jsx
  packages/frontend/src/components/account-export/accountExportAccounts.js
  packages/frontend/src/components/account-export/accountExportAnalytics.js
  packages/frontend/src/components/account-export/accountExportAnalytics.test.js
  packages/frontend/src/components/wallet/AccountExportBanner.jsx
Due: prettier --write, eslint

chore: hide advanced transfer option
  packages/frontend/src/components/account-export/AccountExportMethod.jsx
Due: prettier --write, eslint

feat: add meteor connect environment for deployment
  packages/frontend/src/services/meteorConnect.js
  packages/frontend/src/services/meteorConnectEnvironment.js
  packages/frontend/src/services/meteorConnectEnvironment.test.js
Due: prettier --write, eslint

fix: commit hooks
  .husky/commit-msg
  .husky/node-path.sh
  .husky/pre-commit
  .lintstagedrc
  packages/frontend/.githooks/format-json-script.mjs
  packages/frontend/package.json
Due: prettier --write

feat: adding in mobile meteor app as target for transfer
  packages/frontend/src/components/account-export/AccountExportMethod.jsx
  packages/frontend/src/translations/locales/en/translation.json
Due: prettier --write, eslint

chore: update meteor sdk
  packages/frontend/package.json
  yarn.lock
Due: prettier --write

feat: allow cancelling transfer half way before adding keys
  packages/frontend/src/components/account-export/AccountExportNewKeyReady.jsx
  packages/frontend/src/translations/locales/en/translation.json
Due: prettier --write, eslint

feat: stablization plan mostly complete
  packages/frontend/src/components/account-export/AccountExportMethod.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyActivated.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyActivation.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyReady.jsx
  packages/frontend/src/components/account-export/useNewKeyTransfer.js
  packages/frontend/src/services/meteorConnect.js
  packages/frontend/src/services/meteorConnectAddKeyChain.js
  packages/frontend/src/services/newKeyTransferState.js
  packages/frontend/src/services/newKeyTransferState.test.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/tr/translation.json
  packages/frontend/src/translations/locales/ua/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
  packages/frontend/src/translations/newKeyTransferLocaleParity.test.js
Due: prettier --write, eslint

fix: run dev on local mac
  package.json
  yarn.lock
Due: prettier --write

chore: update meteor sdk
  packages/frontend/package.json
  packages/frontend/src/config/configFromEnvironment.ts
  packages/frontend/src/services/meteorConnect.js
  packages/frontend/src/services/newKeyTransferState.js
  packages/frontend/src/services/newKeyTransferState.test.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/tr/translation.json
  packages/frontend/src/translations/locales/ua/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
  yarn.lock
Due: prettier --write, eslint

chore: update sdk and libs
  packages/frontend/package.json
  yarn.lock
Due: prettier --write

fix: add file to do CI
  packages/frontend/src/services/newKeyTransferState.test.js
Due: prettier --write, eslint

feat: add start over discard control
  packages/frontend/src/components/account-export/AccountExportMethod.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyActivation.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyReady.jsx
  packages/frontend/src/components/account-export/NewKeyTransferStartOverControl.jsx
  packages/frontend/src/services/meteorConnect.js
  packages/frontend/src/services/meteorConnectAddKeyChain.js
  packages/frontend/src/services/newKeyTransferState.js
  packages/frontend/src/services/newKeyTransferState.test.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/tr/translation.json
  packages/frontend/src/translations/locales/ua/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
Due: prettier --write, eslint

Path conditions:
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{ts,tsx})) or (any of: *.{json, md})
  eslint: any of: *.{js,jsx}
