Repository mynearwallet/my-near-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
    "*.{js,jsx}": ["prettier --write", "eslint"],
    "*.{ts,tsx}": ["prettier --write"],
    "*.{json, md}": ["prettier --write"]
}

chore: remove unused log
  packages/frontend/src/components/nft/NFTDetail.js
Due: prettier --write, eslint

refactor(nft): fix & extract function nft details
  packages/frontend/src/redux/slices/nft/index.js
  packages/frontend/src/utils/array.test.js
  packages/frontend/src/utils/array.ts
Due: prettier --write, eslint

fix: pr222 broken multisig account login
  packages/frontend/src/config/environmentDefaults/mainnet.ts
  packages/frontend/src/config/environmentDefaults/mainnet_STAGING.ts
  packages/frontend/src/utils/wallet.ts
Due: prettier --write

fix: wrong package json scripts
  packages/frontend/package.json
Due: prettier --write

refactor: simplify repeated code
  packages/frontend/src/redux/actions/staking.js
Due: prettier --write, eslint

fix: storage cost calculation
  packages/frontend/src/utils/accountsLogic/withAdjustedStorageCost.ts
  packages/frontend/src/utils/wallet.ts
Due: prettier --write

feat(account): add a message to educate user to check the url before input their private key (#237)
  packages/frontend/src/components/accounts/RecoverAccountPrivateKey.js
  packages/frontend/src/components/accounts/RecoverAccountSeedPhrase.js
  packages/frontend/src/components/accounts/ledger/SignInLedgerWrapper.js
Due: prettier --write, eslint

feat(token): remove coingecko no longer free support and use reffinance for price (#239)
  packages/frontend/src/components/wallet/Wallet.js
  packages/frontend/src/redux/slices/tokenFiatValues/index.js
Due: prettier --write, eslint

fix(tokens): should show prices with many decimals (#240)
  packages/frontend/src/components/common/token/TokenBox.js
  packages/frontend/src/utils/fiatValueManager.js
Due: prettier --write, eslint

fix: pr222 broken multisig account login (#241)
  packages/frontend/src/config/environmentDefaults/mainnet.ts
  packages/frontend/src/config/environmentDefaults/mainnet_STAGING.ts
  packages/frontend/src/utils/wallet.ts
Due: prettier --write

Steve/fix lockup for local development (#242)
  packages/frontend/package.json
  packages/frontend/src/redux/actions/staking.js
Due: prettier --write, eslint

Nft improvement (#238)
  packages/frontend/src/components/nft/NFTDetail.js
  packages/frontend/src/components/nft/NFTDetailWrapper.js
  packages/frontend/src/redux/slices/nft/index.js
  packages/frontend/src/redux/slices/transactionHistory/index.ts
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/ua/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
  packages/frontend/src/utils/array.test.js
  packages/frontend/src/utils/array.ts
Due: prettier --write, eslint

fix: storage cost calculation (#244)
  packages/frontend/src/utils/accountsLogic/withAdjustedStorageCost.ts
  packages/frontend/src/utils/wallet.ts
Due: prettier --write

refactor: rename "rotate key" to become "use this key" (#226)
  packages/frontend/src/components/profile/full_access_key_rotations/FullAccessKeyRotation.js
  packages/frontend/src/translations/locales/en/translation.json
Due: prettier --write, eslint

feat(transaction-history): ft transfer UI
  packages/frontend/src/redux/slices/transactionHistory/transactionPattern.tsx
Due: prettier --write

feat(account-import): reorder import account UI
  packages/frontend/src/components/accounts/RecoverAccount.js
Due: prettier --write, eslint

refactor(tokens): move function fetch tokens
  packages/frontend/src/components/wallet/Wallet.js
  packages/frontend/src/redux/slices/tokens/index.js
  packages/frontend/src/routes/WalletWrapper.js
Due: prettier --write, eslint

fix(e2e): remove flaky test rpc
  packages/frontend/src/utils/mnw-api-js/test/rpc-provider.spec.ts
Due: prettier --write

feat: transaction modal tmp
  packages/frontend/src/app/App.js
  packages/frontend/src/components/transactions/ExecutorModal/TransactionExecutorModal.tsx
  packages/frontend/src/pages/TokenSwap/TokenSwap.js
  packages/frontend/src/redux/reducers/sign/index.js
  packages/frontend/src/redux/slices/sign/index.js
  packages/frontend/src/services/tokenExchange/FungibleTokenExchange.js
  packages/frontend/src/utils/account-with-lockup.ts
Due: prettier --write, eslint

fix(nft): remove double slash on url
  packages/frontend/src/services/NonFungibleTokens.js
Due: prettier --write, eslint

test: rpc provider test increase timeout
  packages/frontend/src/utils/mnw-api-js/test/rpc-provider.spec.ts
Due: prettier --write

fix(account): remove mnemonic bip39 validation on import account
  packages/frontend/src/utils/isValidSeedPhrase.js
Due: prettier --write, eslint

feat(transaction): tx interpretation UI
  packages/frontend/src/components/transactions/ExecutorModal/TransactionExecutorModal.tsx
  packages/frontend/src/redux/slices/sign/index.js
  packages/frontend/src/redux/slices/transactionHistory/transactionPattern.tsx
  packages/frontend/src/services/FungibleTokens.js
  packages/frontend/src/services/tokenExchange/FungibleTokenExchange.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/utils/object.test.js
  packages/frontend/src/utils/object.ts
Due: prettier --write, eslint

feat(transaction): tx executor basic transaction
  packages/frontend/src/redux/actions/staking.js
  packages/frontend/src/redux/reducers/sign/index.js
  packages/frontend/src/redux/slices/sign/index.js
  packages/frontend/src/redux/slices/sign/transactionExecutor.ts
  packages/frontend/src/services/FungibleTokens.js
  packages/frontend/src/services/NonFungibleTokens.js
  packages/frontend/src/services/tokenExchange/FungibleTokenExchange.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/utils/account-with-lockup.ts
  packages/frontend/src/utils/staking.ts
Due: prettier --write, eslint

feat(transaction): swap ledger
  packages/frontend/src/components/transactions/ExecutorModal/TransactionExecutorModal.tsx
  packages/frontend/src/pages/TokenSwap/utils/hooks/useSwap.js
  packages/frontend/src/redux/reducers/sign/index.js
  packages/frontend/src/redux/slices/sign/transactionExecutor.ts
  packages/frontend/src/services/tokenExchange/FungibleTokenExchange.js
  packages/frontend/src/utils/staking.ts
  packages/frontend/src/utils/wallet.ts
Due: prettier --write, eslint

feat(transaction): translation
  packages/frontend/src/components/transactions/ExecutorModal/TransactionExecutorModal.tsx
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
Due: prettier --write

feat(deps): lodash snakecase dependency
  packages/frontend/package.json
  packages/frontend/src/components/transactions/ExecutorModal/TransactionExecutorModal.tsx
  packages/frontend/src/utils/object.ts
Due: prettier --write

chore(transaction): remove log
  packages/frontend/src/services/tokenExchange/FungibleTokenExchange.js
Due: prettier --write, eslint

chore(transaction): revert unused
  packages/frontend/src/pages/TokenSwap/TokenSwap.js
Due: prettier --write, eslint

ci(deploy): testnet pr deploy
  .github/workflows/deploy-mnw-testnet.yml
Due: none

fix(type): transaction component type
  packages/frontend/src/components/accounts/manual_import/ModalManualImport.tsx
  packages/frontend/src/components/common/FormButton.tsx
  packages/frontend/src/components/common/modal/Modal.tsx
  packages/frontend/src/components/common/modal/Style.ts
  packages/frontend/src/components/transactions/ExecutorModal/TransactionExecutorModal.tsx
Due: prettier --write

feat(ledger): import account ledger selectable
  packages/frontend/src/components/accounts/ledger/SelectAccountImport.tsx
  packages/frontend/src/components/accounts/ledger/SignInLedgerViews/ImportAccounts.js
  packages/frontend/src/components/accounts/ledger/SignInLedgerWrapper.js
  packages/frontend/src/redux/slices/ledger/index.js
Due: prettier --write, eslint

feat(ledger): select account UI
  packages/frontend/src/components/accounts/ledger/SelectAccountImport.tsx
  packages/frontend/src/components/accounts/ledger/SignInLedgerWrapper.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
Due: prettier --write, eslint

feat(transaction): pre sign transaction interpretation
  packages/frontend/src/redux/slices/transactionHistory/transactionPattern.tsx
Due: prettier --write

feat(ledger): import account ledger selectable (#252)
  packages/frontend/src/components/accounts/ledger/SelectAccountImport.tsx
  packages/frontend/src/components/accounts/ledger/SignInLedgerViews/ImportAccounts.js
  packages/frontend/src/components/accounts/ledger/SignInLedgerWrapper.js
  packages/frontend/src/redux/slices/ledger/index.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
Due: prettier --write, eslint

fix(rpc): update rpc down
  packages/frontend/src/config/environmentDefaults/mainnet.ts
  packages/frontend/src/config/environmentDefaults/mainnet_STAGING.ts
  packages/frontend/src/utils/mnw-api-js/src/RpcRotator.ts
  packages/frontend/src/utils/mnw-api-js/test/rpc-provider.spec.ts
Due: prettier --write

fix(rpc): update rpc down (#253)
  packages/frontend/src/config/environmentDefaults/mainnet.ts
  packages/frontend/src/config/environmentDefaults/mainnet_STAGING.ts
  packages/frontend/src/utils/mnw-api-js/src/RpcRotator.ts
  packages/frontend/src/utils/mnw-api-js/test/rpc-provider.spec.ts
Due: prettier --write
