Repository mynearwallet/my-near-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat: yarn guestbook
  package.json
Due: prettier --write

refactor: renaming spec files
  packages/frontend/src/utils/storage/test/ObjectStorage.boolean.spec.ts
  packages/frontend/src/utils/storage/test/ObjectStorage.number.spec.ts
Due: prettier --write

fix: spec formatNearAmount when given small raw amount
  packages/frontend/src/components/common/balance/config.ts
  packages/frontend/src/components/common/balance/helpers.spec.ts
  packages/frontend/src/components/common/balance/helpers.ts
Due: prettier --write

fix: logic error in formatNearAmount
  packages/frontend/src/components/common/balance/helpers.spec.ts
  packages/frontend/src/components/common/balance/helpers.ts
Due: prettier --write

fix: incorrect YOCTO_NEAR_THRESHOLD value
  packages/frontend/src/components/common/balance/helpers.ts
Due: prettier --write

fix: explore links for projects
  packages/frontend/src/components/explore/components/ExploreSection.js
  packages/frontend/src/components/explore/components/TrandingProjects.js
  packages/frontend/src/components/explore/content.ts
Due: prettier --write, eslint

chore: halfway done, abandoned
  packages/frontend/src/components/common/balance/helpers.ts
Due: prettier --write

feat: allow-parallel-test
  packages/e2e-tests/playwright.config.js
Due: prettier --write, eslint

fix: solve depcrated issues
  packages/e2e-tests/playwright.config.js
  packages/e2e-tests/utils/SelfReloadingE2eTestAccount.js
Due: prettier --write, eslint

fix: set actionTimeout & navigationTimeout
  packages/e2e-tests/playwright.config.js
Due: prettier --write, eslint

fix: create-password-test
  packages/e2e-tests/linkDrop/newUser.spec.js
  packages/e2e-tests/playwright.config.js
  packages/e2e-tests/utils/createPassword.js
  packages/frontend/src/components/accounts/password_encryption/SetPassword/SetPassword.tsx
  packages/frontend/src/components/accounts/password_encryption/SetPasswordForm/SetPasswordForm.tsx
Due: prettier --write, eslint

chore: uncompleted works
  packages/e2e-tests/linkDrop/newUser.spec.js
  packages/e2e-tests/utils/password.js
  packages/frontend/src/components/accounts/password_encryption/UnlockWalletPage.tsx
Due: prettier --write, eslint

feat: configure react-query
  packages/frontend/.storybook/preview.js
  packages/frontend/package.json
  yarn.lock
Due: prettier --write, eslint

fix: solve circular dependency issue
  packages/frontend/src/redux/actions/account.js
Due: prettier --write, eslint

fix: circular dependency by changing all bind to wrapped function
  packages/frontend/src/redux/actions/account.js
Due: prettier --write, eslint

chore: setup react-query
  packages/frontend/src/index.tsx
  yarn.lock
Due: prettier --write

feat: useSoulboundTokens
  packages/frontend/src/utils/query/src/index.ts
Due: prettier --write

chore: remove console log
  packages/frontend/src/utils/query/src/index.ts
Due: prettier --write

feat: temp event
  packages/frontend/src/app/App.js
  packages/frontend/src/app/TempEvent.tsx
Due: prettier --write, eslint

fix: typescript implicity any
  packages/frontend/src/utils/query/src/index.ts
Due: prettier --write

fix: tokenMedata type is wrong
  packages/frontend/src/utils/query/src/index.ts
Due: prettier --write

fix: some types and async conversion
  packages/frontend/src/utils/query/src/index.ts
Due: prettier --write

Soulbound token (#151)
  packages/frontend/.storybook/preview.js
  packages/frontend/package.json
  packages/frontend/src/app/App.js
  packages/frontend/src/app/TempEvent.tsx
  packages/frontend/src/index.tsx
  packages/frontend/src/redux/actions/account.js
  packages/frontend/src/utils/query/src/index.ts
  yarn.lock
Due: prettier --write, eslint

fix: tailwind styles causing svg to be block instead of inline
  packages/frontend/src/index.css
Due: none

fix: tailwind styles causing svg to be block instead of inline (#153)
  packages/frontend/src/index.css
Due: none

feat: make the modal prettier
  packages/frontend/src/app/TempEvent.tsx
  packages/frontend/src/declarations.d.ts
  packages/frontend/src/images/temp-event.jpeg
Due: prettier --write

feat: make the modal prettier (#154)
  packages/frontend/src/app/TempEvent.tsx
  packages/frontend/src/declarations.d.ts
  packages/frontend/src/images/temp-event.jpeg
Due: prettier --write

fix: fix transfer wizard problem using seed phrase
  packages/frontend/src/utils/wallet.ts
Due: prettier --write

fix: fix transfer wizard problem using seed phrase (#156)
  packages/frontend/src/utils/wallet.ts
Due: prettier --write

feat: redirect api to calimero gw + pass x-api-key (#139)
  packages/frontend/src/config/configFromEnvironment.ts
  packages/frontend/src/config/environmentDefaults/development.ts
  packages/frontend/src/config/environmentDefaults/mainnet.ts
  packages/frontend/src/config/environmentDefaults/mainnet_STAGING.ts
  packages/frontend/src/config/environmentDefaults/testnet.ts
  packages/frontend/src/config/environmentDefaults/testnet_STAGING.ts
  packages/frontend/src/services/PrivateShard.js
Due: prettier --write, eslint

fix: use original wallet signer when using custom shard
  packages/frontend/src/utils/wallet.ts
Due: prettier --write

fix: can not access wallet before it is intialized
  packages/frontend/src/utils/wallet.ts
Due: prettier --write

fix: forget to change the signerIgnoringLedger
  packages/frontend/src/utils/wallet.ts
Due: prettier --write

fix: use original wallet signer when using custom shard (#157)
  packages/frontend/src/utils/wallet.ts
Due: prettier --write

Revert "feat: redirect api to calimero gw + pass x-api-key (#139)"
  packages/frontend/src/config/configFromEnvironment.ts
  packages/frontend/src/config/environmentDefaults/development.ts
  packages/frontend/src/config/environmentDefaults/mainnet.ts
  packages/frontend/src/config/environmentDefaults/mainnet_STAGING.ts
  packages/frontend/src/config/environmentDefaults/testnet.ts
  packages/frontend/src/config/environmentDefaults/testnet_STAGING.ts
  packages/frontend/src/services/PrivateShard.js
Due: prettier --write, eslint

Revert "feat: redirect api to calimero gw + pass x-api-key (#139)" (#158)
  packages/frontend/src/config/configFromEnvironment.ts
  packages/frontend/src/config/environmentDefaults/development.ts
  packages/frontend/src/config/environmentDefaults/mainnet.ts
  packages/frontend/src/config/environmentDefaults/mainnet_STAGING.ts
  packages/frontend/src/config/environmentDefaults/testnet.ts
  packages/frontend/src/config/environmentDefaults/testnet_STAGING.ts
  packages/frontend/src/services/PrivateShard.js
Due: prettier --write, eslint

chore: dump all unsaved changes
  packages/e2e-tests/playwrightWithFixtures.js
  packages/e2e-tests/services/contractHelper.js
  packages/e2e-tests/utils/SelfReloadingJSONRpcProvider.js
  packages/frontend/src/components/login/v2/ConfirmLoginWrapper.js
Due: prettier --write, eslint

Path conditions:
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{ts,tsx})) or (any of: *.{json, md})
  eslint: any of: *.{js,jsx}
