Repository mynearwallet/my-near-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

fix: update unstake period
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/tr/translation.json
  packages/frontend/src/translations/locales/ua/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
Due: prettier --write

simplified message
  packages/frontend/src/translations/locales/en/translation.json
Due: prettier --write

chore: tmp
  packages/frontend/src/redux/actions/staking.js
Due: prettier --write, eslint

fix: remove near helper request when create account
  packages/frontend/src/redux/slices/account/createAccountThunks.js
Due: prettier --write, eslint

fix: remove Mintbase for wallet import, too slow, often results in timeouts
  packages/frontend/src/services/coreIndexer/indexers/MintbaseIndexer.ts
Due: prettier --write

fix: wallet import should return the first successful indexer without waiting for all to complete
  packages/frontend/src/utils/wallet.ts
Due: prettier --write

fix: kitwallet try catch on create page
  packages/frontend/src/redux/slices/account/createAccountThunks.js
Due: prettier --write, eslint

hotfix api error on create & import wallet (#302)
  packages/frontend/src/redux/slices/account/createAccountThunks.js
  packages/frontend/src/services/coreIndexer/indexers/MintbaseIndexer.ts
  packages/frontend/src/utils/wallet.ts
Due: prettier --write, eslint

fix: add fallback redirect for window opener conflict with extension
  packages/frontend/src/components/login/v2/SelectAccountLoginWrapper.js
  packages/frontend/src/redux/actions/account.js
  packages/frontend/src/routes/SignMessageWrapper.js
  packages/frontend/src/routes/SignWrapper.js
Due: prettier --write, eslint

chore: fix e2e
  packages/e2e-tests/package.json
  packages/frontend/src/services/coreIndexer/CoreIndexerAdapter.ts
  packages/frontend/src/utils/staking.ts
Due: prettier --write

fix: add fallback redirect for window opener conflict with extension (#303)
  packages/frontend/src/components/login/v2/SelectAccountLoginWrapper.js
  packages/frontend/src/redux/actions/account.js
  packages/frontend/src/routes/SignMessageWrapper.js
  packages/frontend/src/routes/SignWrapper.js
Due: prettier --write, eslint

feat: Add warning and prevent user from signing request when granting (#294)
  packages/frontend/src/components/sign/v2/SignTransactionSummary.js
  packages/frontend/src/translations/locales/en/translation.json
Due: prettier --write, eslint

Revert "fix: update near helper url (#297)" (#300)
  packages/e2e-tests/utils/connectionSingleton.js
  packages/frontend/src/config/environmentDefaults/development.ts
  packages/frontend/src/config/environmentDefaults/mainnet.ts
  packages/frontend/src/config/environmentDefaults/mainnet_STAGING.ts
  packages/frontend/src/config/environmentDefaults/testnet.ts
  packages/frontend/src/config/environmentDefaults/testnet_STAGING.ts
Due: prettier --write, eslint

update unstake period (#301)
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/tr/translation.json
  packages/frontend/src/translations/locales/ua/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
Due: prettier --write

fix: custom added rpc should update on reload, add fastnear testnet
  packages/frontend/src/utils/mnw-api-js/src/RpcRotator.ts
  packages/frontend/src/utils/storage/src/ConnectionsStorage.ts
  packages/frontend/src/utils/storage/src/ObjectStorage.ts
Due: prettier --write

fix: ankr rpc now need api key
  packages/frontend/src/utils/mnw-api-js/src/RpcRotator.ts
Due: prettier --write

fix: rpc for legacy users
  packages/frontend/src/utils/storage/src/ConnectionsStorage.ts
  packages/frontend/src/utils/storage/src/ObjectStorage.ts
Due: prettier --write

fix: custom added rpc should update on reload, add fastnear testnet (#304)
  packages/frontend/src/utils/mnw-api-js/src/RpcRotator.ts
  packages/frontend/src/utils/storage/src/ConnectionsStorage.ts
  packages/frontend/src/utils/storage/src/ObjectStorage.ts
Due: prettier --write

fix: lockup and reduce unnecessary RPC hits
  packages/e2e-tests/utils/E2eTestAccount.js
  packages/frontend/src/redux/actions/staking.js
  packages/frontend/src/utils/account-with-lockup.ts
  packages/frontend/src/utils/staking.ts
Due: prettier --write, eslint

chore: cleanup
  packages/frontend/src/redux/actions/staking.js
  packages/frontend/src/utils/account-with-lockup.ts
Due: prettier --write, eslint

Update README.md
  README.md
Due: none

feat: add rpcrotator fastnear testnet
  packages/frontend/src/utils/mnw-api-js/src/RpcRotator.ts
Due: prettier --write

fix: playwright lockfile
  yarn.lock
Due: none

revert playwright update
  packages/e2e-tests/package.json
  yarn.lock
Due: prettier --write

fix: staking testnet page not loaded
  packages/frontend/src/utils/account-with-lockup.ts
  packages/frontend/src/utils/staking.ts
Due: prettier --write

revert playwright lock
  yarn.lock
Due: none

fix: staking testnet page not loaded (#306)
  packages/frontend/src/utils/account-with-lockup.ts
  packages/frontend/src/utils/staking.ts
Due: prettier --write

fix: login on somecase publickey can null
  packages/frontend/src/redux/actions/account.js
  packages/frontend/src/utils/wallet.ts
Due: prettier --write, eslint

fix: log, login calimero
  packages/frontend/src/redux/actions/account.js
  packages/frontend/src/utils/wallet.ts
Due: prettier --write, eslint

fix: add error message on sign message
  packages/frontend/src/redux/slices/signMessage/index.js
  packages/frontend/src/utils/wallet.ts
Due: prettier --write, eslint

fix: some token not showing usd price
  packages/frontend/src/config/environmentDefaults/mainnet.ts
  packages/frontend/src/config/environmentDefaults/mainnet_STAGING.ts
Due: prettier --write

fix: some token not showing usd price (#308)
  packages/frontend/src/config/environmentDefaults/mainnet.ts
  packages/frontend/src/config/environmentDefaults/mainnet_STAGING.ts
Due: prettier --write

fix: sign message start from ledger 2.3.5
  packages/frontend/package.json
  packages/frontend/src/utils/ledgerManager.js
  packages/frontend/src/utils/signMessage.ts
  yarn.lock
Due: prettier --write, eslint

fix: throw ledger error message
  packages/frontend/src/utils/wallet.ts
Due: prettier --write

fix: version update ledger nearapp
  packages/frontend/src/utils/ledgerManager.js
  packages/frontend/src/utils/wallet.ts
Due: prettier --write, eslint

fix: revert library borsher
  packages/frontend/package.json
  packages/frontend/src/utils/signMessage.ts
  yarn.lock
Due: prettier --write

fix ledger near app 2.3.5 signmessage (#309)
  packages/frontend/src/utils/ledgerManager.js
  packages/frontend/src/utils/signMessage.ts
  packages/frontend/src/utils/wallet.ts
Due: prettier --write, eslint

fix(ledger): sign message should works both nep and regular sign
  packages/frontend/src/utils/ledgerManager.js
  packages/frontend/src/utils/wallet.ts
Due: prettier --write, eslint

fix: import account only for available indexer
  packages/frontend/src/services/coreIndexer/CoreIndexerAdapter.ts
Due: prettier --write

fix ledger signmessage (#310)
  packages/frontend/src/services/coreIndexer/CoreIndexerAdapter.ts
  packages/frontend/src/utils/ledgerManager.js
  packages/frontend/src/utils/wallet.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{ts,tsx})) or (any of: *.{json, md})
  eslint: any of: *.{js,jsx}
