Repository mynearwallet/my-near-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore: update meteor sdk
  packages/frontend/package.json
  yarn.lock
Due: prettier --write

fix: apostrophe-free skew test strings (prettier/eslint quote deadlock)
  packages/frontend/src/services/newKeyTransferState.test.js
Due: prettier --write, eslint

chore: update meteor SDK dep
  packages/frontend/package.json
  yarn.lock
Due: prettier --write

feat: remove platform selection from MNW UI
  packages/frontend/package.json
  packages/frontend/src/components/account-export/AccountExportMethod.jsx
  packages/frontend/src/services/meteorConnect.js
  packages/frontend/src/services/newKeyTransferState.js
  packages/frontend/src/services/newKeyTransferState.test.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/tr/translation.json
  packages/frontend/src/translations/locales/ua/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
  yarn.lock
Due: prettier --write, eslint

feat: added source key check when removing old transfer keys
  packages/frontend/src/components/account-export/accountExportAccounts.js
  packages/frontend/src/components/account-export/accountExportAccounts.test.js
  packages/frontend/src/services/meteorConnectAddKeyChain.js
  packages/frontend/src/services/meteorConnectAddKeyChain.test.js
  packages/frontend/src/services/newKeyTransferState.js
  packages/frontend/src/services/newKeyTransferState.test.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/tr/translation.json
  packages/frontend/src/translations/locales/ua/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
Due: prettier --write, eslint

chore: update meteor libs
  packages/frontend/package.json
  yarn.lock
Due: prettier --write

feat: explain shared recovery phrase for exports
  packages/frontend/src/components/account-export/AccountExportNotice.jsx
  packages/frontend/src/components/account-export/AccountExportRemove.jsx
  packages/frontend/src/components/account-export/AccountExportSelect.jsx
  packages/frontend/src/components/svg/ExportAccountRemovalWarningIcon.js
  packages/frontend/src/translations/locales/en/translation.json
Due: prettier --write, eslint

fix: add intermediate verify key button
  packages/frontend/src/components/account-export/AccountExportNewKeyActivation.jsx
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/tr/translation.json
  packages/frontend/src/translations/locales/ua/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
Due: prettier --write, eslint

style: polish account transfer flow
  packages/frontend/src/components/account-export/AccountExportMethod.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyActivated.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyActivation.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyReady.jsx
  packages/frontend/src/components/account-export/AccountExportNotice.jsx
  packages/frontend/src/components/account-export/NewKeyTransferProgress.jsx
  packages/frontend/src/components/svg/InfoIconRounded.js
  packages/frontend/src/components/wallet/AccountExportBanner.jsx
  packages/frontend/src/translations/locales/en/translation.json
Due: prettier --write, eslint

style: localize account transfer flow
  packages/frontend/src/components/account-export/AccountExportManual.jsx
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/tr/translation.json
  packages/frontend/src/translations/locales/ua/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
Due: prettier --write, eslint

chore: remove pointless buttons
  packages/frontend/src/components/account-export/AccountExportNewKeyActivated.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyActivation.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyReady.jsx
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/tr/translation.json
  packages/frontend/src/translations/locales/ua/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
Due: prettier --write, eslint

chore: show tick icon when key is added instead of loading
  packages/frontend/src/components/account-export/AccountExportNewKeyActivation.jsx
Due: prettier --write, eslint

feat: update info banner to subtle blue color
  packages/frontend/src/components/account-export/AccountExportNewKeyActivated.jsx
  packages/frontend/src/components/account-export/AccountExportNotice.jsx
Due: prettier --write, eslint

feat: add success tick in finish step
  packages/frontend/src/components/account-export/AccountExportNewKeyActivated.jsx
  packages/frontend/src/images/account-imported-success.svg
Due: prettier --write, eslint

chore: update banner color
  packages/frontend/src/components/wallet/AccountExportBanner.jsx
Due: prettier --write, eslint

feat: updated the stepper flow
  packages/frontend/src/app/App.js
  packages/frontend/src/components/account-export/AccountExportMethod.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyActivated.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyReady.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyStart.jsx
  packages/frontend/src/components/account-export/AccountExportSelect.jsx
  packages/frontend/src/components/wallet/AccountExportBanner.jsx
  packages/frontend/src/services/meteorConnect.js
  packages/frontend/src/services/meteorConnectEnvironment.js
  packages/frontend/src/services/meteorConnectEnvironment.test.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/tr/translation.json
  packages/frontend/src/translations/locales/ua/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
Due: prettier --write, eslint

test: update test
  packages/frontend/src/services/meteorConnectEnvironment.test.js
Due: prettier --write, eslint

feat: do not auto activate key
  packages/frontend/src/components/account-export/AccountExportNewKeyActivation.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyStart.jsx
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/tr/translation.json
  packages/frontend/src/translations/locales/ua/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
Due: prettier --write, eslint

chore: update meteor sdk dep
  packages/frontend/package.json
  yarn.lock
Due: prettier --write

feat: handle unfunded implicit account error message
  packages/frontend/src/components/account-export/accountExportAccounts.js
  packages/frontend/src/components/account-export/accountExportAccounts.test.js
  packages/frontend/src/services/newKeyTransferState.js
  packages/frontend/src/services/newKeyTransferState.test.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/tr/translation.json
  packages/frontend/src/translations/locales/ua/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
Due: prettier --write, eslint

feat: only run production backend server on mainnet (non staging)
  packages/frontend/src/services/meteorConnect.js
  packages/frontend/src/services/meteorConnectEnvironment.js
  packages/frontend/src/services/meteorConnectEnvironment.test.js
Due: prettier --write, eslint

fix: crash for network ID
  packages/frontend/src/services/meteorConnect.js
Due: prettier --write, eslint

chore: improve UX a bit for refused accounts
  packages/frontend/src/components/account-export/AccountExportNewKeyStart.jsx
Due: prettier --write, eslint

feat: update analytic events
  packages/frontend/src/components/account-export/AccountExportMethod.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyActivated.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyActivation.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyRecovery.jsx
  packages/frontend/src/components/account-export/AccountExportNewKeyStart.jsx
  packages/frontend/src/components/account-export/AccountExportSelect.jsx
  packages/frontend/src/components/account-export/NewKeyTransferStartOverControl.jsx
  packages/frontend/src/components/account-export/accountExportAnalytics.js
  packages/frontend/src/components/account-export/accountExportAnalytics.test.js
  packages/frontend/src/components/account-export/useNewKeyTransfer.js
  packages/frontend/src/components/wallet/AccountExportBanner.jsx
  packages/frontend/src/mixpanel/index.test.js
  packages/frontend/src/services/newKeyTransferState.js
Due: prettier --write, eslint

chore: update meteor sdk dep
  packages/frontend/package.json
  packages/frontend/src/index.css
  yarn.lock
Due: prettier --write

chore: update meteor lib to fix mobile linking
  packages/frontend/package.json
  yarn.lock
Due: prettier --write

chore: update sdk for new bridge link format
  packages/frontend/package.json
  yarn.lock
Due: prettier --write

feat: add near dot com method
  package.json
  packages/frontend/src/app/App.js
  packages/frontend/src/components/account-export/AccountExportMethod.jsx
  packages/frontend/src/components/account-export/NearDotComGuide.jsx
  packages/frontend/src/components/account-export/NearDotComMethod.jsx
  packages/frontend/src/components/account-export/accountExportAnalytics.js
  packages/frontend/src/components/account-export/accountExportAnalytics.test.js
  packages/frontend/src/components/account-export/near-dot-com-guide.html
  packages/frontend/src/images/wallet-migration/meteor-loader.gif
  packages/frontend/src/translations/locales/en/translation.json
  yarn.lock
Due: prettier --write, eslint

fix: translation test
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/tr/translation.json
  packages/frontend/src/translations/locales/ua/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
Due: prettier --write

chore: remove new option pill
  packages/frontend/src/components/account-export/NearDotComMethod.jsx
Due: prettier --write, eslint

chore: update meteor sdk
  METEOR-CONNECT-UPGRADE.md
  packages/frontend/package.json
Due: prettier --write

chore: update yarn lock
  yarn.lock
Due: none

feat: resolve testnet to production as well
  packages/frontend/src/services/meteorConnect.js
  packages/frontend/src/services/meteorConnectEnvironment.js
  packages/frontend/src/services/meteorConnectEnvironment.test.js
Due: prettier --write, eslint

chore: update hyperlink
  packages/frontend/src/components/account-export/near-dot-com-guide.html
Due: none

chore: update meteor SDK
  packages/frontend/package.json
  yarn.lock
Due: prettier --write

fix: data font loading on MNW
  packages/frontend/src/index.html
Due: none

feat: hide neardotcom in testnet
  packages/frontend/src/components/account-export/AccountExportMethod.jsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{ts,tsx})) or (any of: *.{json, md})
  eslint: any of: *.{js,jsx}
