Repository mynearwallet/my-near-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

fix: login logic for private shard sync account
  packages/frontend/src/redux/actions/account.js
Due: prettier --write, eslint

[calimero] add support for private shards (#102)
  packages/frontend/src/app/App.js
  packages/frontend/src/components/common/balance/Balance.js
  packages/frontend/src/components/common/balance/BalanceDisplay.js
  packages/frontend/src/components/login/v2/ConfirmLogin.js
  packages/frontend/src/components/login/v2/ConfirmLoginWrapper.js
  packages/frontend/src/components/login/v2/ConnectWithPrivateShard.js
  packages/frontend/src/components/login/v2/SelectAccountLogin.js
  packages/frontend/src/components/login/v2/SelectAccountLoginWrapper.js
  packages/frontend/src/components/sign/v2/SignTransaction.js
  packages/frontend/src/components/sign/v2/SignTransactionDetails.js
  packages/frontend/src/components/sign/v2/SignTransactionDetailsWrapper.js
  packages/frontend/src/components/sign/v2/SignTransactionSummary.js
  packages/frontend/src/components/sign/v2/SignTransactionSummaryWrapper.js
  packages/frontend/src/config/configFromEnvironment.ts
  packages/frontend/src/config/environmentDefaults/development.ts
  packages/frontend/src/config/environmentDefaults/mainnet.ts
  packages/frontend/src/config/environmentDefaults/mainnet_STAGING.ts
  packages/frontend/src/config/environmentDefaults/testnet.ts
  packages/frontend/src/config/environmentDefaults/testnet_STAGING.ts
  packages/frontend/src/redux/actions/account.js
  packages/frontend/src/redux/reducers/sign/index.js
  packages/frontend/src/redux/slices/account/index.js
  packages/frontend/src/redux/slices/sign/index.js
  packages/frontend/src/routes/LoginWrapper.js
  packages/frontend/src/routes/SignWrapper.js
  packages/frontend/src/services/PrivateShard.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/utils/wallet.js
Due: prettier --write, eslint

fix: minor e2e test, show generic symbol for calimero
  packages/frontend/src/components/common/balance/BalanceDisplay.js
  packages/frontend/src/components/login/v2/SelectAccountLogin.js
Due: prettier --write, eslint

feat: rename bridged token
  packages/e2e-tests/fungibleToken/fungibleToken.spec.js
  packages/frontend/src/components/common/FormButton.js
  packages/frontend/src/components/common/balance/FiatBalance.tsx
  packages/frontend/src/components/send/components/views/EnterAmount.js
  packages/frontend/src/redux/slices/swap/index.js
  packages/frontend/src/redux/slices/tokens/index.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/tr/translation.json
  packages/frontend/src/translations/locales/ua/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
  packages/frontend/src/utils/token.test.js
  packages/frontend/src/utils/token.ts
  packages/frontend/src/wallet.d.ts
Due: prettier --write, eslint

feat: rename bridged token (#131)
  packages/e2e-tests/fungibleToken/fungibleToken.spec.js
  packages/frontend/src/components/common/FormButton.js
  packages/frontend/src/components/common/balance/FiatBalance.tsx
  packages/frontend/src/components/send/components/views/EnterAmount.js
  packages/frontend/src/redux/slices/swap/index.js
  packages/frontend/src/redux/slices/tokens/index.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/tr/translation.json
  packages/frontend/src/translations/locales/ua/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
  packages/frontend/src/utils/token.test.js
  packages/frontend/src/utils/token.ts
  packages/frontend/src/wallet.d.ts
Due: prettier --write, eslint

fix: crash when swap input is too low
  packages/frontend/src/pages/TokenSwap/ui/SwapDetails/SwapDetails.js
  packages/frontend/src/pages/TokenSwap/ui/SwapForm.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/tr/translation.json
  packages/frontend/src/translations/locales/ua/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
Due: prettier --write, eslint

chore: formatting in translation files
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/tr/translation.json
  packages/frontend/src/translations/locales/ua/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
Due: prettier --write

Fix crash on low swap input (#132)
  packages/frontend/src/pages/TokenSwap/ui/SwapDetails/SwapDetails.js
  packages/frontend/src/pages/TokenSwap/ui/SwapForm.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/tr/translation.json
  packages/frontend/src/translations/locales/ua/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
Due: prettier --write, eslint

feat: import account via private key
  packages/e2e-tests/linkDrop/newUser.spec.js
  packages/e2e-tests/recover/privateKey.spec.js
  packages/frontend/src/app/App.js
  packages/frontend/src/components/accounts/RecoverAccount.js
  packages/frontend/src/components/accounts/RecoverAccountPrivateKey.js
  packages/frontend/src/images/icon-recover-key.svg
  packages/frontend/src/redux/slices/importZeroBalanceAccount/importAccountThunks.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/tr/translation.json
  packages/frontend/src/translations/locales/ua/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
Due: prettier --write, eslint

fix: fail to send certain FTs
  packages/frontend/src/services/FungibleTokens.js
Due: prettier --write, eslint

fix: fail to send certain FTs (#134)
  packages/frontend/src/services/FungibleTokens.js
Due: prettier --write, eslint

refactor: change route for recover via private key
  packages/e2e-tests/recover/privateKey.spec.js
  packages/frontend/src/app/App.js
  packages/frontend/src/components/accounts/RecoverAccount.js
Due: prettier --write, eslint

feat: import account via private key (#133)
  packages/e2e-tests/linkDrop/newUser.spec.js
  packages/e2e-tests/recover/privateKey.spec.js
  packages/frontend/src/app/App.js
  packages/frontend/src/components/accounts/RecoverAccount.js
  packages/frontend/src/components/accounts/RecoverAccountPrivateKey.js
  packages/frontend/src/images/icon-recover-key.svg
  packages/frontend/src/redux/slices/importZeroBalanceAccount/importAccountThunks.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/tr/translation.json
  packages/frontend/src/translations/locales/ua/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
Due: prettier --write, eslint

chore: format left over json files
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/tr/translation.json
  packages/frontend/src/translations/locales/ua/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
Due: prettier --write

chore: update lint command
  package.json
  packages/frontend/package.json
Due: prettier --write

fix: update workflow to run lint in root
  .github/workflows/pull-request.yml
Due: none

fix: update stackhawk.yml to run link in root
  .github/workflows/stackhawk.yml
Due: none

fix: update cloudflare-pages-deploy.yml to run lint in root
  .github/workflows/cloudflare-pages-deploy.yml
Due: none

feat(new NEP): added required gas check for claiming linkdrops
  packages/frontend/src/utils/wallet.js
Due: prettier --write, eslint

feat: enable verify owner
  package.json
  packages/e2e-tests/README.md
  packages/e2e-tests/verifyOwnerWithDapp/verifyOwner.spec.js
  packages/frontend/src/app/App.js
  packages/frontend/src/components/verify-owner/VerifyOwnerSummary.js
  packages/frontend/src/components/verify-owner/VerifyOwnerSummaryWrapper.js
  packages/frontend/src/redux/slices/verifyOwner/index.js
  packages/guestbook/.gitignore
  packages/guestbook/package.json
  packages/guestbook/src/App.tsx
  packages/guestbook/src/components/Content.tsx
  packages/guestbook/src/components/ExportContent.tsx
  packages/guestbook/src/components/Form.tsx
  packages/guestbook/src/components/Loading.tsx
  packages/guestbook/src/components/Messages.tsx
  packages/guestbook/src/components/SignIn.tsx
  packages/guestbook/src/constants.ts
  packages/guestbook/src/contexts/WalletSelectorContext.tsx
  packages/guestbook/src/contexts/WalletSelectorExportContext.tsx
  packages/guestbook/src/index.html
  packages/guestbook/src/index.tsx
  packages/guestbook/src/interfaces.ts
  packages/guestbook/src/styles.css
  packages/guestbook/tsconfig.json
  yarn.lock
Due: prettier --write, eslint

chore: fix formatting problem
  packages/frontend/src/redux/slices/verifyOwner/index.js
Due: prettier --write, eslint

fix: parcel version conflict
  packages/frontend/package.json
  yarn.lock
Due: prettier --write

chore: added webstorm run configs
  .run/frontend-dev.run.xml
  .run/guestbook-dev.run.xml
Due: none

feat: enable verify owner (#137)
  .run/frontend-dev.run.xml
  .run/guestbook-dev.run.xml
  package.json
  packages/e2e-tests/README.md
  packages/e2e-tests/verifyOwnerWithDapp/verifyOwner.spec.js
  packages/frontend/package.json
  packages/frontend/src/app/App.js
  packages/frontend/src/components/verify-owner/VerifyOwnerSummary.js
  packages/frontend/src/components/verify-owner/VerifyOwnerSummaryWrapper.js
  packages/frontend/src/redux/slices/verifyOwner/index.js
  packages/guestbook/.gitignore
  packages/guestbook/package.json
  packages/guestbook/src/App.tsx
  packages/guestbook/src/components/Content.tsx
  packages/guestbook/src/components/ExportContent.tsx
  packages/guestbook/src/components/Form.tsx
  packages/guestbook/src/components/Loading.tsx
  packages/guestbook/src/components/Messages.tsx
  packages/guestbook/src/components/SignIn.tsx
  packages/guestbook/src/constants.ts
  packages/guestbook/src/contexts/WalletSelectorContext.tsx
  packages/guestbook/src/contexts/WalletSelectorExportContext.tsx
  packages/guestbook/src/index.html
  packages/guestbook/src/index.tsx
  packages/guestbook/src/interfaces.ts
  packages/guestbook/src/styles.css
  packages/guestbook/tsconfig.json
  yarn.lock
Due: prettier --write, eslint

chore: add run config for e2e
  .run/e2e_ui.run.xml
Due: none

feat(new NEP): added required gas check for claiming linkdrops (#136)
  packages/frontend/src/utils/wallet.js
Due: prettier --write, eslint

chore: fix run scripts for frontend and guestbook
  .run/frontend-dev.run.xml
  .run/guestbook-dev.run.xml
Due: none

Add run scripts to .idea (#138)
  .run/e2e_ui.run.xml
  .run/frontend-dev.run.xml
Due: none

feat: encrypted keys (WIP)
  packages/frontend/src/app/App.js
  packages/frontend/src/components/accounts/Encryption/AddEncryption.js
  packages/frontend/src/components/accounts/Encryption/EncryptionModal.js
  packages/frontend/src/components/accounts/Encryption/LoginWallet.js
  packages/frontend/src/components/accounts/RecoverAccount.js
  packages/frontend/src/components/accounts/RecoverAccountPrivateKey.js
  packages/frontend/src/components/accounts/RecoverAccountSeedPhrase.js
  packages/frontend/src/components/accounts/SetPassword/SetPassword.tsx
  packages/frontend/src/components/accounts/SetPassword/ui/Input/index.tsx
  packages/frontend/src/components/accounts/SetPasswordForm/SetPasswordForm.tsx
  packages/frontend/src/components/accounts/SetupSeedPhrase.js
  packages/frontend/src/components/accounts/auto_import/AutoImport.js
  packages/frontend/src/components/accounts/auto_import/AutoImportWrapper.js
  packages/frontend/src/components/accounts/batch_import_accounts/AccountImportModal.js
  packages/frontend/src/components/accounts/batch_import_accounts/index.js
  packages/frontend/src/components/landing/GuestLanding.js
  packages/frontend/src/components/navigation/CreateAccountBtn.js
  packages/frontend/src/components/profile/AddPasswordButton/AddPasswordButton.js
  packages/frontend/src/components/profile/Profile.js
  packages/frontend/src/redux/actions/account.js
  packages/frontend/src/redux/createReducers/combinedMainReducers.js
  packages/frontend/src/redux/slices/account/createAccountThunks.js
  packages/frontend/src/redux/slices/importZeroBalanceAccount/importAccountThunks.js
  packages/frontend/src/redux/slices/login/index.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/utils/encryption.js
  packages/frontend/src/utils/wallet.js
  packages/guestbook/src/contexts/WalletSelectorExportContext.tsx
Due: prettier --write, eslint

chore: format translation file
  packages/frontend/src/translations/locales/en/translation.json
Due: prettier --write

feat: redirect api to calimero gw + pass x-api-key
  packages/frontend/src/config/configFromEnvironment.ts
  packages/frontend/src/config/environmentDefaults/development.ts
  packages/frontend/src/config/environmentDefaults/mainnet.ts
  packages/frontend/src/config/environmentDefaults/mainnet_STAGING.ts
  packages/frontend/src/config/environmentDefaults/testnet.ts
  packages/frontend/src/config/environmentDefaults/testnet_STAGING.ts
  packages/frontend/src/services/PrivateShard.js
Due: prettier --write, eslint

fix: make sure chosen language works
  packages/frontend/src/app/App.js
  packages/frontend/src/hooks/getCurrentLanguage.js
Due: prettier --write, eslint

feat: add meteor sdk to allow long-running RPC requests
  packages/frontend/package.json
  packages/frontend/src/utils/wallet.js
  yarn.lock
Due: prettier --write, eslint

feat: added signing transactions using meteor RPC
  packages/frontend/src/utils/wallet.js
Due: prettier --write, eslint

fix: fixed keypom claim to add timeout using meteor-near-sdk
  packages/frontend/src/utils/wallet.js
Due: prettier --write, eslint

feat: add new RPC methods for polling until linkdrop trx complete
  packages/frontend/package.json
  packages/frontend/src/utils/wallet.js
  yarn.lock
Due: prettier --write, eslint

fix: update Meteor near sdk
  packages/frontend/package.json
  yarn.lock
Due: prettier --write

fix: make sure we pass the funding contract to the new RPC method
  packages/frontend/src/utils/wallet.js
Due: prettier --write, eslint

Path conditions:
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{ts,tsx})) or (any of: *.{json, md})
  eslint: any of: *.{js,jsx}
