Repository mynearwallet/my-near-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
    "*.{js,jsx}": ["prettier --write", "eslint"],
    "*.{ts,tsx}": ["prettier --write"],
    "*.{json, md}": ["prettier --write"]
}

fix: update UI close button
  packages/frontend/src/components/connection/BannerChangeRpc.tsx
  packages/frontend/src/images/icon-close-gray.svg
Due: prettier --write

fix: update copywriting
  packages/frontend/src/components/connection/BannerChangeRpc.tsx
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
Due: prettier --write

feat: switch from official near rpc banner (#287)
  packages/frontend/docs/NonFungibleTokenDiscovery.md
  packages/frontend/src/components/connection/BannerChangeRpc.tsx
  packages/frontend/src/components/connection/Connection.tsx
  packages/frontend/src/components/staking/StakingContainer.js
  packages/frontend/src/components/wallet/Wallet.js
  packages/frontend/src/images/icon-close-gray.svg
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
  packages/frontend/src/utils/storage/src/ConnectionsStorage.ts
Due: prettier --write, eslint

wip
  packages/frontend/src/index.html
  packages/frontend/src/redux/actions/account.js
  packages/frontend/src/redux/middleware/index.ts
  packages/frontend/src/routes/SignMessageWrapper.js
  packages/frontend/src/routes/SignWrapper.js
  packages/frontend/src/utils/helper-api.ts
  packages/frontend/src/utils/signMessage.ts
Due: prettier --write, eslint

feat: wip
  packages/frontend/src/routes/SignMessageWrapper.js
  packages/frontend/src/routes/SignWrapper.js
Due: prettier --write, eslint

feat: added security measures
  packages/frontend/src/redux/actions/account.js
  packages/frontend/src/routes/SignMessageWrapper.js
  packages/frontend/src/routes/SignWrapper.js
  packages/frontend/src/utils/convertUrlToSendMessage.js
Due: prettier --write, eslint

Update index.ts
  packages/frontend/src/redux/middleware/index.ts
Due: prettier --write

fix: changed if/else for if-then-return
  packages/frontend/src/redux/actions/account.js
  packages/frontend/src/routes/SignMessageWrapper.js
  packages/frontend/src/routes/SignWrapper.js
Due: prettier --write, eslint

fix: added missing return
  packages/frontend/src/routes/SignWrapper.js
Due: prettier --write, eslint

Feat/change to modal (#288)
  packages/frontend/src/index.html
  packages/frontend/src/redux/actions/account.js
  packages/frontend/src/redux/middleware/index.ts
  packages/frontend/src/routes/SignMessageWrapper.js
  packages/frontend/src/routes/SignWrapper.js
  packages/frontend/src/utils/convertUrlToSendMessage.js
  packages/frontend/src/utils/helper-api.ts
  packages/frontend/src/utils/signMessage.ts
Due: prettier --write, eslint

fix(tx): load-more when error should stop hit
  packages/frontend/src/pages/TransactionHistory/index.tsx
  packages/frontend/src/redux/slices/transactionHistory/index.ts
Due: prettier --write

feat: exclude callbackurl in signMessage when in pop-up
  packages/frontend/src/routes/SignMessageWrapper.js
Due: prettier --write, eslint

feat: wallet-selector no longer include callback to sign
  packages/frontend/src/routes/SignMessageWrapper.js
  packages/guestbook/src/components/Content.tsx
Due: prettier --write, eslint

feat: wallet-selector no longer include callback to sign (#291)
  packages/frontend/src/routes/SignMessageWrapper.js
  packages/guestbook/src/components/Content.tsx
Due: prettier --write, eslint

fix: update discord link
  packages/frontend/src/components/common/Footer.js
Due: prettier --write, eslint

fix: update zendesk link to help.mynearwallet.com
  packages/frontend/src/components/common/GlobalAlert.js
Due: prettier --write, eslint

feat: send message when user cancel the login
  packages/frontend/src/components/login/v2/SelectAccountLoginWrapper.js
Due: prettier --write, eslint

feat: Add warning and prevent user from signing request when granting full access to applications
  packages/frontend/src/components/sign/v2/SignTransactionSummary.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/ua/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
Due: prettier --write, eslint

Update packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/en/translation.json
Due: prettier --write

update message
  packages/frontend/src/translations/locales/en/translation.json
Due: prettier --write

Fix: Update discord link (#292)
  packages/frontend/src/components/common/Footer.js
  packages/frontend/src/components/common/GlobalAlert.js
Due: prettier --write, eslint

feat: update message and translations done by chatgtp have been deleted
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/ua/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
Due: prettier --write

Update packages/frontend/src/components/sign/v2/SignTransactionSummary.js
  packages/frontend/src/components/sign/v2/SignTransactionSummary.js
Due: prettier --write, eslint

Update README.md
  README.md
Due: none

feat: migrate nearblocks transaction to meteor indexer
  packages/frontend/src/components/transactions/GroupedTransactions.tsx
  packages/frontend/src/components/transactions/TransactionItem.tsx
  packages/frontend/src/pages/TransactionHistory/index.tsx
  packages/frontend/src/redux/slices/transactionHistory/index.ts
  packages/frontend/src/redux/slices/transactionHistory/transactionPattern.tsx
  packages/frontend/src/redux/slices/transactionHistory/type.ts
  packages/frontend/src/services/coreIndexer/CoreIndexerAdapter.ts
  packages/frontend/src/services/coreIndexer/indexers/AbstractCoreIndexer.ts
  packages/frontend/src/services/coreIndexer/indexers/FastNearIndexer.ts
  packages/frontend/src/services/coreIndexer/indexers/MeteorBackendIndexer.ts
  packages/frontend/src/services/coreIndexer/indexers/MintbaseIndexer.ts
  packages/frontend/src/services/coreIndexer/indexers/NearblocksV1Indexer.ts
  packages/frontend/src/services/coreIndexer/indexers/NearblocksV3Indexer.ts
  packages/frontend/src/services/indexer/api.ts
  packages/frontend/src/utils/pagination.ts
  packages/frontend/src/utils/query/queryClient.ts
Due: prettier --write

fix: update meteor api URL
  packages/frontend/src/services/coreIndexer/indexers/MeteorBackendIndexer.ts
Due: prettier --write

fix: update near helper url
  packages/e2e-tests/utils/connectionSingleton.js
  packages/frontend/src/config/environmentDefaults/development.ts
  packages/frontend/src/config/environmentDefaults/mainnet.ts
  packages/frontend/src/config/environmentDefaults/mainnet_STAGING.ts
  packages/frontend/src/config/environmentDefaults/testnet.ts
  packages/frontend/src/config/environmentDefaults/testnet_STAGING.ts
Due: prettier --write, eslint

fix: update near helper url (#297)
  packages/e2e-tests/utils/connectionSingleton.js
  packages/frontend/src/config/environmentDefaults/development.ts
  packages/frontend/src/config/environmentDefaults/mainnet.ts
  packages/frontend/src/config/environmentDefaults/mainnet_STAGING.ts
  packages/frontend/src/config/environmentDefaults/testnet.ts
  packages/frontend/src/config/environmentDefaults/testnet_STAGING.ts
Due: prettier --write, eslint

fix: allow nonfunded account signmessage
  packages/frontend/src/redux/slices/signMessage/index.js
  packages/frontend/src/utils/wallet.ts
Due: prettier --write, eslint

fix: only sign message allow non funded account
  packages/frontend/src/redux/slices/signMessage/index.js
  packages/frontend/src/utils/wallet.ts
Due: prettier --write, eslint

feat: signmessage feature with verify message check
  packages/frontend/src/redux/slices/signMessage/index.js
  packages/frontend/src/utils/wallet.ts
Due: prettier --write, eslint

fix: show error message on login error
  packages/frontend/README.md
  packages/frontend/src/components/login/v2/ConfirmLoginWrapper.js
  packages/frontend/src/redux/actions/account.js
Due: prettier --write, eslint

fix: reenable button on login error
  packages/frontend/src/components/login/v2/ConfirmLogin.js
  packages/frontend/src/redux/actions/account.js
  packages/frontend/src/redux/slices/activeAccount/index.js
Due: prettier --write, eslint

chore: log window opener on login
  packages/frontend/src/redux/actions/account.js
Due: prettier --write, eslint

fix: pipeline
  .github/workflows/stackhawk.yml
Due: none

fix login dapps stuck (#299)
  .github/workflows/stackhawk.yml
  packages/frontend/README.md
  packages/frontend/src/components/login/v2/ConfirmLogin.js
  packages/frontend/src/components/login/v2/ConfirmLoginWrapper.js
  packages/frontend/src/redux/actions/account.js
  packages/frontend/src/redux/slices/activeAccount/index.js
Due: prettier --write, eslint

feat: send message when user cancel the login (#293)
  packages/frontend/src/components/login/v2/SelectAccountLoginWrapper.js
Due: prettier --write, eslint

fix: allow nonfunded account signmessage (#298)
  packages/frontend/src/redux/slices/signMessage/index.js
  packages/frontend/src/utils/wallet.ts
Due: prettier --write, eslint

Revert "fix: update near helper url (#297)"
  packages/e2e-tests/utils/connectionSingleton.js
  packages/frontend/src/config/environmentDefaults/development.ts
  packages/frontend/src/config/environmentDefaults/mainnet.ts
  packages/frontend/src/config/environmentDefaults/mainnet_STAGING.ts
  packages/frontend/src/config/environmentDefaults/testnet.ts
  packages/frontend/src/config/environmentDefaults/testnet_STAGING.ts
Due: prettier --write, eslint

fix: update unstake period
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/tr/translation.json
  packages/frontend/src/translations/locales/ua/translation.json
Due: prettier --write
