Repository mynearwallet/my-near-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
    "*.{js,jsx}": ["prettier --write", "eslint"],
    "*.{ts,tsx}": ["prettier --write"],
    "*.{json, md}": ["prettier --write"]
}

fix: remove Rpc Selector from old location
  packages/frontend/src/components/profile/Profile.js
  packages/frontend/src/components/profile/Rpc/ChangeRpcModal.jsx
  packages/frontend/src/components/profile/Rpc/index.jsx
  packages/frontend/src/components/profile/Rpc/ui.js
Due: prettier --write, eslint

fix: adjusting z-index, add modal dialog using @headlessui/react
  packages/frontend/package.json
  packages/frontend/src/components/common/NetworkBanner.js
  packages/frontend/src/components/connection/AddConnectionModal.tsx
  packages/frontend/src/components/connection/Connection.tsx
  packages/frontend/src/components/navigation/Navigation.js
  packages/frontend/src/components/profile/Recovery/RecoveryMethod/index.tsx
  packages/frontend/src/utils/mnw-api-js/test/rpc-provider.spec.ts
  packages/frontend/src/utils/wallet.ts
  yarn.lock
Due: prettier --write, eslint

feat: allow user to edit Headers
  packages/frontend/src/components/connection/AddConnectionForm.tsx
  packages/frontend/src/components/connection/AddConnectionModal.tsx
  packages/frontend/src/components/connection/HeaderEditor.tsx
Due: prettier --write

feat: getRpcOptionList based on CONFIG.NETWORK_ID
  packages/frontend/package.json
  packages/frontend/src/components/connection/AddConnectionForm.tsx
  packages/frontend/src/components/connection/AddConnectionModal.tsx
  packages/frontend/src/components/connection/HeaderEditor.tsx
  packages/frontend/src/utils/mnw-api-js/lib/rpc-list.ts
  yarn.lock
Due: prettier --write

feat: can test connection to rpc providers
  packages/frontend/src/components/connection/AddConnectionForm.tsx
  packages/frontend/src/components/connection/AddConnectionModal.tsx
  packages/frontend/src/components/connection/HeaderEditor.tsx
Due: prettier --write

feat: fetch connections from localStorage
  packages/frontend/src/components/connection/AddConnectionForm.tsx
  packages/frontend/src/components/connection/AddConnectionModal.tsx
  packages/frontend/src/components/connection/Connection.tsx
Due: prettier --write

feat: add / edit / delete rpc providers
  packages/frontend/src/components/connection/AddConnectionForm.tsx
  packages/frontend/src/components/connection/AddConnectionModal.tsx
  packages/frontend/src/components/connection/Connection.tsx
  packages/frontend/src/components/connection/HeaderEditor.tsx
  packages/frontend/src/utils/mnw-api-js/lib/rpc-list.ts
  packages/frontend/src/utils/mnw-api-js/lib/rpc-provider.ts
Due: prettier --write

feat: wallet now use RPC connections from localstorage
  packages/frontend/src/components/connection/Connection.tsx
  packages/frontend/src/utils/wallet.ts
Due: prettier --write

chore: install react-i18next
  packages/frontend/package.json
  yarn.lock
Due: prettier --write

chore: downgrading react-i18next version
  packages/frontend/package.json
  yarn.lock
Due: prettier --write

chore: upgrade react-i18next to ^12.0.0
  packages/frontend/package.json
  yarn.lock
Due: prettier --write

chore: translation, remove connection config, etc
  packages/frontend/src/components/connection/Connection.tsx
  packages/frontend/src/translations/locales/en/translation.json
Due: prettier --write

refactor: some refactoring here and there
  packages/frontend/src/components/connection/Connection.tsx
  packages/frontend/src/services/StakingFarmContracts.js
  packages/frontend/src/utils/mnw-api-js/index.ts
  packages/frontend/src/utils/mnw-api-js/src/RpcProvider.ts
  packages/frontend/src/utils/mnw-api-js/src/RpcRotator.ts
  packages/frontend/src/utils/mnw-api-js/src/type.ts
  packages/frontend/src/utils/storage/README.md
  packages/frontend/src/utils/storage/index.ts
  packages/frontend/src/utils/storage/src/BaseStorage.ts
  packages/frontend/src/utils/storage/src/ConnectionsStorage.ts
  packages/frontend/src/utils/storage/src/type.ts
  packages/frontend/src/utils/twoFactor.js
  packages/frontend/src/utils/wallet.ts
Due: prettier --write, eslint

refactor: setup translation for all text in add connection
  packages/frontend/src/components/connection/AddConnectionForm.tsx
  packages/frontend/src/components/connection/AddConnectionModal.tsx
  packages/frontend/src/components/connection/Connection.tsx
  packages/frontend/src/components/connection/HeaderEditor.tsx
  packages/frontend/src/translations/locales/en/translation.json
Due: prettier --write

refactor: translation
  packages/frontend/src/translations/locales/en/translation.json
Due: prettier --write

fix: fix create account button logo
  packages/frontend/src/components/navigation/CreateAccountBtn.js
Due: prettier --write, eslint

feat: add a button to go to the connection page
  packages/frontend/src/components/navigation/ConnectionBtn.tsx
  packages/frontend/src/components/navigation/DesktopMenu.js
  packages/frontend/src/components/navigation/MobileContainer.js
  packages/frontend/src/translations/locales/en/translation.json
Due: prettier --write, eslint

fix: remove console.log
  packages/frontend/src/utils/mnw-api-js/src/RpcProvider.ts
Due: prettier --write

fix: pagoda shouldn't be used in spec.ts
  packages/frontend/src/utils/mnw-api-js/test/rpc-provider.spec.ts
Due: prettier --write

fix: translaton.test.ts don't have proper import of "expect" and "test"
  packages/frontend/test/translations.test.ts
Due: prettier --write

fix: circular dependency problem
  packages/frontend/src/services/FungibleTokens.js
Due: prettier --write, eslint

fix: preserve original meaning of the code
  packages/frontend/src/services/FungibleTokens.js
Due: prettier --write, eslint

refactor: split farmValidators from staking/index
  packages/frontend/src/components/staking/components/Staking.js
  packages/frontend/src/components/staking/components/Validator.js
  packages/frontend/src/components/staking/components/ValidatorBox.js
  packages/frontend/src/redux/crossStateSelectors/selectCollectedAvailableForClaimData.js
  packages/frontend/src/redux/slices/staking/farmValidators.js
  packages/frontend/src/redux/slices/staking/index.js
Due: prettier --write, eslint

refactor: split code from tokenFiatValues selector
  packages/frontend/src/components/accounts/CreateAccount.js
  packages/frontend/src/components/accounts/SetupImplicit.js
  packages/frontend/src/components/accounts/two_factor/EnableTwoFactor.js
  packages/frontend/src/components/common/balance/Balance.js
  packages/frontend/src/components/profile/Profile.js
  packages/frontend/src/components/send/SendContainerWrapper.js
  packages/frontend/src/components/staking/StakingContainer.js
  packages/frontend/src/redux/selectors/crossStateSelectors/selectNEARAsTokenWithMetadata.js
  packages/frontend/src/redux/slices/tokenFiatValues/index.js
  packages/frontend/src/redux/slices/tokenFiatValues/near.js
  packages/frontend/src/redux/slices/tokenFiatValues/usd.js
  packages/frontend/src/redux/slices/tokens/index.js
Due: prettier --write, eslint

feat: now allows string storage
  packages/frontend/src/utils/storage/src/BaseStorage.ts
  packages/frontend/src/utils/storage/src/ConnectionsStorage.ts
  packages/frontend/src/utils/storage/src/ObjectStorage.ts
  packages/frontend/src/utils/storage/src/StringStorage.ts
Due: prettier --write

fix: language color selection on windows
  packages/frontend/src/components/navigation/DesktopContainer.js
Due: prettier --write, eslint

fix: implement ConnectionsStorage instead of localStorage
  packages/frontend/src/components/connection/Connection.tsx
Due: prettier --write

feat: show a warning box telling user to refresh after edit connection
  packages/frontend/src/components/connection/Connection.tsx
  packages/frontend/src/translations/locales/en/translation.json
Due: prettier --write

fix: move the connection button to some place accessible before importing account
  packages/frontend/src/components/navigation/ConnectionIcon.tsx
  packages/frontend/src/components/navigation/DesktopContainer.js
  packages/frontend/src/components/navigation/DesktopMenu.js
  packages/frontend/src/components/navigation/MobileContainer.js
Due: prettier --write, eslint

chore: instruction on how to use StringStorage and ObjectStorage
  packages/frontend/src/utils/storage/README.md
Due: none

feat: make ObjectStorage and StringStorage an abstract class, so they must be extended before used
  packages/frontend/src/utils/storage/src/ObjectStorage.ts
  packages/frontend/src/utils/storage/src/StringStorage.ts
Due: prettier --write

feat: spec file for StringStorage
  packages/frontend/src/utils/storage/README.md
  packages/frontend/src/utils/storage/test/StringStorage.spec.ts
Due: prettier --write

feat: spec file for ObjectStorage
  packages/frontend/src/utils/storage/src/ObjectStorage.ts
  packages/frontend/src/utils/storage/test/ObjectStorage.spec.ts
Due: prettier --write

feat: spec file for ObjectStorage<number>
  packages/frontend/src/utils/storage/test/ObjectStorage<number>.spec.ts
Due: prettier --write

feat: spec file for ObjectStorage<boolean>
  packages/frontend/src/utils/storage/test/ObjectStorage<boolean>.spec.ts
Due: prettier --write

chore: update README.md to tailored with all spec files
  packages/frontend/src/utils/storage/README.md
Due: none

fix: throw error if rpcConfig is neither String, Object nor RpcRotator
  packages/frontend/src/utils/mnw-api-js/src/RpcProvider.ts
Due: prettier --write

fix: use RpcRotator.name instead of 'RpcRotator'
  packages/frontend/src/utils/mnw-api-js/src/RpcProvider.ts
Due: prettier --write

fix: fix playwright test command
  packages/e2e-tests/package.json
  packages/e2e-tests/playwright.config.js
  yarn.lock
Due: prettier --write, eslint
