Repository mynearwallet/my-near-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
    "*.{js,jsx}": ["prettier --write", "eslint"],
    "*.{ts,tsx}": ["prettier --write"],
    "*.{json, md}": ["prettier --write"]
}

refactor: variable renaming
  packages/frontend/src/utils/wallet.js
Due: prettier --write, eslint

refactor: rename wallet.js to become wallet.ts
  packages/frontend/src/index.tsx
  packages/frontend/src/utils/JsonRpcProvider/exponential-backoff.ts
  packages/frontend/src/utils/JsonRpcProvider/fetch_json.ts
  packages/frontend/src/utils/encryptedWalletData.ts
  packages/frontend/src/utils/wallet.ts
Due: prettier --write

feat: rotate rpc when timeout
  packages/frontend/src/utils/JsonRpcProvider/exponential-backoff.ts
  packages/frontend/src/utils/JsonRpcProvider/fetch_json.ts
  packages/frontend/src/utils/mnw-api-js/connection.ts
  packages/frontend/src/utils/mnw-api-js/rpc-list.ts
  packages/frontend/src/utils/mnw-api-js/rpc-provider.ts
  packages/frontend/src/utils/wallet.ts
Due: prettier --write

fix: catch potential error from rpcRotator.next()
  packages/frontend/src/utils/mnw-api-js/rpc-provider.ts
Due: prettier --write

fix: near-api-js version stability
  packages/e2e-tests/package.json
  packages/frontend/package.json
  packages/frontend/src/utils/mnw-api-js/rpc-list.ts
  packages/frontend/src/utils/mnw-api-js/rpc-provider.ts
  packages/frontend/src/utils/wallet.ts
  packages/guestbook/package.json
  yarn.lock
Due: prettier --write

feat: use random rpc when failed, so that our app is not biased
  packages/frontend/src/utils/mnw-api-js/rpc-list.ts
Due: prettier --write

feat: read default rpc from localStorage
  packages/frontend/src/utils/mnw-api-js/rpc-provider.ts
  packages/frontend/src/utils/wallet.ts
Due: prettier --write

fix: wipe headers when switching rpc
  packages/frontend/src/utils/mnw-api-js/rpc-provider.ts
Due: prettier --write

chore: add README.md
  packages/frontend/src/utils/mnw-api-js/README.md
  packages/frontend/src/utils/mnw-api-js/index.ts
  packages/frontend/src/utils/mnw-api-js/lib/connection.ts
  packages/frontend/src/utils/mnw-api-js/lib/rpc-list.ts
  packages/frontend/src/utils/mnw-api-js/lib/rpc-provider.ts
  packages/frontend/src/utils/wallet.ts
Due: prettier --write

feat: can view the default rpc provider in accounts tab
  packages/frontend/src/components/profile/Profile.js
  packages/frontend/src/components/profile/Rpc/index.tsx
  packages/frontend/src/components/profile/Rpc/ui.ts
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/utils/wallet.ts
Due: prettier --write, eslint

fix: change reducer function
  packages/frontend/src/components/profile/Rpc/index.tsx
  packages/frontend/src/translations/locales/en/translation.json
Due: prettier --write

fix: change the reducer
  packages/frontend/src/components/profile/Rpc/index.tsx
Due: prettier --write

fix: change the reducer again
  packages/frontend/src/components/profile/Rpc/index.tsx
Due: prettier --write

fix: useState and useCallback instead of useReducer
  packages/frontend/src/components/profile/Rpc/index.tsx
Due: prettier --write

fix: setRpcProvider return type is void
  packages/frontend/src/components/profile/Rpc/index.tsx
Due: prettier --write

feat: ui allow change rpc
  packages/frontend/src/components/profile/Rpc/ChangeRpcModal.jsx
  packages/frontend/src/components/profile/Rpc/index.jsx
  packages/frontend/src/components/profile/Rpc/index.tsx
  packages/frontend/src/components/profile/Rpc/ui.js
  packages/frontend/src/components/profile/Rpc/ui.ts
  packages/frontend/src/utils/mnw-api-js/lib/rpc-list.ts
  packages/frontend/src/utils/mnw-api-js/lib/rpc-provider.ts
Due: prettier --write, eslint

fix: revert url and headers to original before throwing error
  packages/frontend/src/utils/mnw-api-js/lib/rpc-provider.ts
Due: prettier --write

feat: allow developer to test inside mainnet environment
  package.json
  packages/frontend/package.json
Due: prettier --write

feat: allow developer to test inside mainnet environment (#144)
  package.json
  packages/frontend/package.json
Due: prettier --write

fix: update list of rpc providers
  packages/frontend/src/utils/mnw-api-js/index.ts
  packages/frontend/src/utils/mnw-api-js/lib/connection.ts
  packages/frontend/src/utils/mnw-api-js/lib/rpc-list.ts
  packages/frontend/src/utils/mnw-api-js/lib/type.ts
Due: prettier --write

refactor: rpc-rotator.ts
  packages/frontend/src/utils/mnw-api-js/lib/rpc-list.ts
  packages/frontend/src/utils/mnw-api-js/lib/type.ts
Due: prettier --write

refactor: rewrite rpc-provider.ts
  packages/frontend/src/utils/mnw-api-js/lib/rpc-list.ts
  packages/frontend/src/utils/mnw-api-js/lib/rpc-provider.ts
  packages/frontend/src/utils/mnw-api-js/lib/type.ts
Due: prettier --write

fix: fix bugs here and there
  packages/frontend/package.json
  packages/frontend/src/utils/mnw-api-js/lib/rpc-list.ts
  packages/frontend/src/utils/mnw-api-js/lib/rpc-provider.ts
  packages/frontend/src/utils/mnw-api-js/lib/type.ts
Due: prettier --write

chore: add unit test to make sure RpcProvider class works as expected
  packages/frontend/src/utils/mnw-api-js/README.md
  packages/frontend/src/utils/mnw-api-js/test/rpc-provider.test.js
Due: prettier --write, eslint

fix: fix typo in test file
  packages/frontend/src/utils/mnw-api-js/test/rpc-provider.test.js
Due: prettier --write, eslint

fix: pass only the first parameter to suits original use case
  packages/frontend/src/utils/mnw-api-js/test/rpc-provider.test.js
Due: prettier --write, eslint

refactor: now can pass in RpcRotator as the first parameter into RpcProvider constructor
  packages/frontend/src/utils/mnw-api-js/lib/rpc-provider.ts
  packages/frontend/src/utils/mnw-api-js/test/rpc-provider.spec.js
Due: prettier --write, eslint

fix: make RpcProviderDetail.data to be optional
  packages/frontend/src/utils/mnw-api-js/lib/type.ts
  packages/frontend/src/utils/mnw-api-js/test/rpc-provider.spec.ts
Due: prettier --write

fix: near-api-js version stability
  packages/e2e-tests/package.json
  packages/frontend/package.json
  packages/frontend/src/utils/wallet.ts
  packages/guestbook/package.json
  yarn.lock
Due: prettier --write

fix: provider.connection.url instead of provider.url
  packages/frontend/src/utils/wallet.ts
Due: prettier --write

fix: import ConnectionInfo from near-api-js
  packages/frontend/src/utils/JsonRpcProvider/exponential-backoff.ts
  packages/frontend/src/utils/JsonRpcProvider/fetch_json.ts
  packages/frontend/src/utils/wallet.ts
Due: prettier --write

fix: stop creating FullAccessKey when recovering account
  packages/frontend/src/utils/wallet.js
Due: prettier --write, eslint

fix: stop creating FullAccessKey when recovering account (#146)
  packages/frontend/src/utils/wallet.js
Due: prettier --write, eslint

feat: allow developer to use tailwindcss in frontend
  packages/frontend/.postcssrc
  packages/frontend/package.json
  packages/frontend/src/app/App.js
  packages/frontend/src/components/connection/Connection.tsx
  packages/frontend/src/index.css
  packages/frontend/src/index.html
  packages/frontend/tailwind.config.js
  yarn.lock
Due: prettier --write, eslint

fix: typo, should be keyPair instead of newKeyPair
  packages/frontend/src/utils/wallet.ts
Due: prettier --write

refactor: change wallet.js to wallet.ts (#145)
  packages/e2e-tests/package.json
  packages/frontend/package.json
  packages/frontend/src/index.tsx
  packages/frontend/src/utils/encryptedWalletData.ts
  packages/frontend/src/utils/wallet.ts
  packages/guestbook/package.json
  yarn.lock
Due: prettier --write

fix: try fix merge issue
  packages/frontend/src/utils/wallet.ts
  yarn.lock
Due: prettier --write

feat: allow developer to use tailwindcss in frontend
  packages/frontend/.postcssrc
  packages/frontend/package.json
  packages/frontend/src/app/App.js
  packages/frontend/src/components/connection/Connection.tsx
  packages/frontend/src/index.css
  packages/frontend/src/index.html
  packages/frontend/tailwind.config.js
Due: prettier --write, eslint

chore: update yarn.lock
  yarn.lock
Due: none

feat: add tailwind css (#149)
  packages/frontend/.postcssrc
  packages/frontend/package.json
  packages/frontend/src/app/App.js
  packages/frontend/src/components/connection/Connection.tsx
  packages/frontend/src/index.css
  packages/frontend/src/index.html
  packages/frontend/tailwind.config.js
  yarn.lock
Due: prettier --write, eslint
