Repository mynearwallet/my-near-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
    "*.{js,jsx}": ["prettier --write", "eslint"],
    "*.{ts,tsx}": ["prettier --write"],
    "*.{json, md}": ["prettier --write"]
}

feat(rpc): rpc selector one click ux
  packages/frontend/src/app/App.js
  packages/frontend/src/components/connection/Connection.tsx
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/utils/mnw-api-js/src/RpcRotator.ts
  packages/frontend/src/utils/storage/src/ConnectionsStorage.ts
Due: prettier --write, eslint

feat(rpc): testnet rpc
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/utils/storage/src/ConnectionsStorage.ts
Due: prettier --write

feat(rpc): fastnear as default rpc provider
  packages/frontend/src/utils/storage/src/ConnectionsStorage.ts
Due: prettier --write

RPC selector UX improvement (#254)
  packages/frontend/src/app/App.js
  packages/frontend/src/components/connection/Connection.tsx
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/utils/mnw-api-js/src/RpcRotator.ts
  packages/frontend/src/utils/storage/src/ConnectionsStorage.ts
Due: prettier --write, eslint

fix(rpc): use official near rpc
  packages/frontend/src/config/environmentDefaults/mainnet.ts
  packages/frontend/src/config/environmentDefaults/mainnet_STAGING.ts
  packages/frontend/src/utils/mnw-api-js/src/RpcRotator.ts
  packages/frontend/src/utils/mnw-api-js/test/rpc-provider.spec.ts
  packages/frontend/src/utils/storage/src/ConnectionsStorage.ts
Due: prettier --write

fix(rpc): use official near rpc (#255)
  packages/frontend/src/config/environmentDefaults/mainnet.ts
  packages/frontend/src/config/environmentDefaults/mainnet_STAGING.ts
  packages/frontend/src/utils/mnw-api-js/src/RpcRotator.ts
  packages/frontend/src/utils/mnw-api-js/test/rpc-provider.spec.ts
  packages/frontend/src/utils/storage/src/ConnectionsStorage.ts
Due: prettier --write

fix(staking): all rpc show staking balance
  packages/frontend/src/redux/actions/staking.js
Due: prettier --write, eslint

fix(staking): all rpc show staking balance (#256)
  packages/frontend/src/redux/actions/staking.js
Due: prettier --write, eslint

feat(stake): init liquid staking
  packages/frontend/src/app/App.js
  packages/frontend/src/components/common/balance/Balance.tsx
  packages/frontend/src/components/navigation/NavLinks.js
  packages/frontend/src/components/staking/StakingContainer.js
  packages/frontend/src/components/staking/StakingSelector.tsx
  packages/frontend/src/components/staking/components/ValidatorBoxItem.tsx
  packages/frontend/src/components/staking/components/Validators.js
  packages/frontend/src/components/staking/liquid-staking/LiquidStakingContainer.tsx
  packages/frontend/src/components/staking/liquid-staking/OwnedValidators.tsx
  packages/frontend/src/components/staking/liquid-staking/StakingForm.tsx
  packages/frontend/src/components/staking/liquid-staking/Validator.tsx
  packages/frontend/src/components/svg/UserIcon.js
  packages/frontend/src/config/environmentDefaults/development.ts
  packages/frontend/src/config/environmentDefaults/testnet.ts
  packages/frontend/src/config/environmentDefaults/testnet_STAGING.ts
  packages/frontend/src/redux/actions/staking.js
  packages/frontend/src/services/metapool/api.ts
  packages/frontend/src/services/metapool/constant.ts
  packages/frontend/src/utils/gasPrice.js
Due: prettier --write, eslint

feat(staking): tmp
  packages/frontend/src/components/staking/components/ValidatorBoxItem.tsx
  packages/frontend/src/components/staking/liquid-staking/LiquidStakingContainer.tsx
  packages/frontend/src/components/staking/liquid-staking/OwnedValidators.tsx
  packages/frontend/src/components/staking/liquid-staking/ValidatorDetail.tsx
Due: prettier --write

Update README.md
  README.md
Due: none

feat(staking): liquid staking
  packages/frontend/src/components/staking/components/Staking.js
  packages/frontend/src/components/staking/components/ValidatorBoxItem.tsx
  packages/frontend/src/components/staking/liquid-staking/ModalUnstake.tsx
  packages/frontend/src/components/staking/liquid-staking/OwnedValidators.tsx
  packages/frontend/src/components/staking/liquid-staking/StakingForm.tsx
  packages/frontend/src/redux/actions/staking.js
  packages/frontend/src/utils/staking.ts
Due: prettier --write, eslint

feat(staking): liquid staking ux
  packages/frontend/src/components/staking/components/AmountInput.js
  packages/frontend/src/components/staking/liquid-staking/ModalUnstake.tsx
  packages/frontend/src/components/staking/liquid-staking/OwnedValidators.tsx
  packages/frontend/src/components/staking/liquid-staking/StakingForm.tsx
Due: prettier --write, eslint

Transaction interpretation (#249)
  packages/frontend/package.json
  packages/frontend/src/app/App.js
  packages/frontend/src/components/accounts/manual_import/ModalManualImport.tsx
  packages/frontend/src/components/common/FormButton.tsx
  packages/frontend/src/components/common/modal/Modal.tsx
  packages/frontend/src/components/common/modal/Style.ts
  packages/frontend/src/components/transactions/ExecutorModal/TransactionExecutorModal.tsx
  packages/frontend/src/pages/TokenSwap/utils/hooks/useSwap.js
  packages/frontend/src/redux/actions/staking.js
  packages/frontend/src/redux/reducers/sign/index.js
  packages/frontend/src/redux/slices/sign/transactionExecutor.ts
  packages/frontend/src/redux/slices/transactionHistory/transactionPattern.tsx
  packages/frontend/src/services/FungibleTokens.js
  packages/frontend/src/services/NonFungibleTokens.js
  packages/frontend/src/services/tokenExchange/FungibleTokenExchange.js
  packages/frontend/src/translations/locales/en/translation.json
  packages/frontend/src/translations/locales/it/translation.json
  packages/frontend/src/translations/locales/pt/translation.json
  packages/frontend/src/translations/locales/ru/translation.json
  packages/frontend/src/translations/locales/vi/translation.json
  packages/frontend/src/translations/locales/zh-hans/translation.json
  packages/frontend/src/translations/locales/zh-hant/translation.json
  packages/frontend/src/utils/object.test.js
  packages/frontend/src/utils/object.ts
  packages/frontend/src/utils/wallet.ts
Due: prettier --write, eslint

chore(staking): remove unused
  packages/frontend/src/components/common/modal/Modal.tsx
  packages/frontend/src/components/profile/Recovery/RecoveryMethod/index.tsx
  packages/frontend/src/components/staking/components/ValidatorBoxItem.tsx
  packages/frontend/src/components/staking/liquid-staking/ModalUnstake.tsx
  packages/frontend/src/components/staking/liquid-staking/StakingForm.tsx
Due: prettier --write

feat(staking): staking list hide zero balance
  packages/frontend/src/components/staking/liquid-staking/OwnedValidators.tsx
Due: prettier --write

chore(staking): remove unused code
  packages/frontend/src/app/App.js
  packages/frontend/src/components/navigation/NavLinks.js
  packages/frontend/src/components/staking/StakingSelector.tsx
  packages/frontend/src/components/staking/liquid-staking/OwnedValidators.tsx
  packages/frontend/src/components/staking/liquid-staking/StakingForm.tsx
Due: prettier --write, eslint

feat(staking): liquid staking unstake info
  packages/frontend/src/components/staking/components/ValidatorBoxItem.tsx
  packages/frontend/src/components/staking/liquid-staking/LiquidStakingContainer.tsx
  packages/frontend/src/components/staking/liquid-staking/ModalUnstake.tsx
  packages/frontend/src/components/staking/liquid-staking/OwnedValidators.tsx
  packages/frontend/src/components/staking/liquid-staking/type.ts
  packages/frontend/src/components/transactions/ExecutorModal/TransactionExecutorModal.tsx
  packages/frontend/src/redux/actions/staking.js
Due: prettier --write, eslint

feat(staking): liquid staking min unstake output
  packages/frontend/src/components/staking/liquid-staking/ModalUnstake.tsx
  packages/frontend/src/components/staking/liquid-staking/OwnedValidators.tsx
  packages/frontend/src/components/transactions/ExecutorModal/TransactionExecutorModal.tsx
  packages/frontend/src/redux/actions/staking.js
Due: prettier --write, eslint

feat(staking): unstake modal ui
  packages/frontend/src/components/staking/liquid-staking/ModalUnstake.tsx
  packages/frontend/src/components/staking/liquid-staking/OwnedValidators.tsx
  packages/frontend/src/components/transactions/ExecutorModal/TransactionExecutorModal.tsx
  packages/frontend/src/redux/actions/staking.js
Due: prettier --write, eslint

fix(staking): liquid staking handle ledger modal
  packages/frontend/src/components/staking/liquid-staking/ModalUnstake.tsx
  packages/frontend/src/redux/slices/ledger/index.js
Due: prettier --write, eslint

feat(staking): liquid staking translation
  packages/frontend/src/components/staking/liquid-staking/ModalUnstake.tsx
  packages/frontend/src/translations/locales/en/translation.json
Due: prettier --write

feat(staking): update balance liquid staking
  packages/frontend/src/components/staking/components/SelectAccount.js
  packages/frontend/src/components/staking/liquid-staking/ModalUnstake.tsx
  packages/frontend/src/components/staking/liquid-staking/StakingForm.tsx
  packages/frontend/src/redux/slices/transactionHistory/transactionPattern.tsx
  packages/frontend/src/translations/locales/en/translation.json
Due: prettier --write, eslint

feat(sign): whitelisted contract on transaction
  packages/frontend/src/components/common/AlertBanner.js
  packages/frontend/src/routes/SignWrapper.js
  packages/frontend/src/translations/locales/en/translation.json
Due: prettier --write, eslint

feat(sign): whitelisted contract link
  packages/frontend/src/routes/SignWrapper.js
  packages/frontend/src/translations/locales/en/translation.json
Due: prettier --write, eslint

feat(tx-interpret): sign transaction interpretation
  packages/frontend/src/components/common/image/ImageWithLoading.tsx
  packages/frontend/src/components/sign/v2/SignTransaction.js
  packages/frontend/src/components/sign/v2/SignTransactionSummary.js
  packages/frontend/src/components/sign/v2/TransactionInterpretationItem.tsx
  packages/frontend/src/redux/slices/transactionHistory/index.ts
  packages/frontend/src/redux/slices/transactionHistory/transactionPattern.tsx
  packages/frontend/src/redux/slices/transactionHistory/type.ts
Due: prettier --write, eslint

feat(sign): ui transfer wnear
  packages/frontend/src/components/sign/v2/TransactionInterpretationItem.tsx
  packages/frontend/src/redux/slices/transactionHistory/transactionPattern.tsx
  packages/frontend/src/redux/slices/transactionHistory/type.ts
Due: prettier --write

feat(staking): modal liquid unstake UI
  packages/frontend/src/components/staking/components/Validators.js
  packages/frontend/src/components/staking/liquid-staking/ModalUnstake.tsx
  packages/frontend/src/translations/locales/en/translation.json
Due: prettier --write, eslint

feat(tx-interpret): sign transaction interpretation (#261)
  packages/frontend/src/components/common/image/ImageWithLoading.tsx
  packages/frontend/src/components/sign/v2/SignTransaction.js
  packages/frontend/src/components/sign/v2/SignTransactionSummary.js
  packages/frontend/src/components/sign/v2/TransactionInterpretationItem.tsx
  packages/frontend/src/redux/slices/transactionHistory/index.ts
  packages/frontend/src/redux/slices/transactionHistory/transactionPattern.tsx
  packages/frontend/src/redux/slices/transactionHistory/type.ts
Due: prettier --write, eslint

feat(tx-executor): revert tx executor
  packages/frontend/src/redux/actions/staking.js
  packages/frontend/src/services/FungibleTokens.js
  packages/frontend/src/services/NonFungibleTokens.js
  packages/frontend/src/utils/wallet.ts
Due: prettier --write, eslint

feat(tx-executor): revert transform executor
  packages/frontend/src/services/FungibleTokens.js
Due: prettier --write, eslint

feat(liquid-staking): improve validator tab UI
  packages/frontend/src/components/staking/components/ValidatorBoxItem.tsx
  packages/frontend/src/components/staking/components/Validators.js
  packages/frontend/src/components/staking/liquid-staking/ModalUnstake.tsx
  packages/frontend/src/components/staking/liquid-staking/OwnedValidators.tsx
  packages/frontend/src/components/staking/liquid-staking/StakingForm.tsx
  packages/frontend/src/translations/locales/en/translation.json
Due: prettier --write, eslint

feat(sign): interpret wrap
  packages/frontend/src/redux/slices/transactionHistory/constant.ts
  packages/frontend/src/redux/slices/transactionHistory/transactionPattern.tsx
Due: prettier --write

feat(sign): interpret wrap (#263)
  packages/frontend/src/redux/slices/transactionHistory/constant.ts
  packages/frontend/src/redux/slices/transactionHistory/transactionPattern.tsx
Due: prettier --write

feat(sign): tx unwrap UI
  packages/frontend/src/components/accounts/ledger/SelectAccountImport.tsx
  packages/frontend/src/redux/slices/transactionHistory/transactionPattern.tsx
Due: prettier --write

feat(sign): tx unwrap UI (#264)
  packages/frontend/src/components/accounts/ledger/SelectAccountImport.tsx
  packages/frontend/src/redux/slices/transactionHistory/transactionPattern.tsx
Due: prettier --write
